---
layout: blank
---

<div class="content-block typeset v-home" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{ site.company.official_name }}">
    <section class="hero">
        <h1 class="hero__headline">We build software that <i>works</i>.<br>No <i>half-baked</i> solutions, no <i>false</i> promises.</h1>
    </section>
    <section class="v-home__portfolio">
        <h1 class="splitting-headline" id="projects">
            <span class="splitting-headline__fill">Projects</span>
        </h1>

        {% include portfolio-strip.html %}
    </section>

    <section class="v-home__blog">
        <h1 class="splitting-headline" id="blog">
            <span class="splitting-headline__fill">Latest blog posts</span>
        </h1>

        {% include blog-news.html %}
    </section>

    <section class="v-home__team">
        <meta itemprop="numberOfEmployees" content="{{ site.data.team.size }}">

        <h1 class="splitting-headline" id="team">
            <span class="splitting-headline__fill">Team</span>
        </h1>

        {% include team-members.html %}
    </section>

    <section class="v-home__career">
        <h1 class="splitting-headline" id="team">
            <span class="splitting-headline__fill">Career</span>
        </h1>

        <div class="v-home__career-content">
            <p>
                Fragaria is a company with some serious software development history. The company is built upon people with real skills. You can be sure to learn a lot. Fast.
            </p>
            <p>
                Besides developing great software, we like being people too. That's why we value friendship and understanding as our top priorities. Expect a great team full of interesting characters. Beers and parties included.
            </p>
        </div>

        <div class="v-home__cta-row">
            <a class="button" href="{{ '/career/' | relative_url }}">I'm interested</a>
        </div>
    </section>


    <section class="v-home__company">
        <h1 class="splitting-headline" id="get-in-touch">
            <span class="splitting-headline__fill">Get in touch</span>
        </h1>

        <meta itemprop="email" content="{{ site.company.email }}">
        <meta itemprop="telephone" content="{{ site.company.phone }}">

        <div class="v-home__company-content">
            <article class="contact v-home__company-residence" itemprop="address" itemtype="https://schema.org/PostalAddress" itemscope>
                <h1 class="delta">Residence</h1>
                <p class="contact__line">{{ site.company.official_name }}</p>
                <p class="contact__line" itemprop="streetAddress">{{ site.company.address.residence.line1 }}</p>
                <p class="contact__line" itemprop="postalCode">{{ site.company.address.residence.line2 }}</p>
                <p class="contact__line" itemprop="addressLocality">{{ site.company.address.residence.line3 }}</p>

                <br>

                <p class="contact__line" itemprop="companyPhoneNumber">
                    <a class="anchor anchor--emphasized" href="tel:{{ site.company.phone }}">{{ site.company.phone }}</a>
                </p>

                <p class="contact__line" itemprop="companyEmal">
                    <a class="anchor anchor--emphasized" href="mailto:{{ site.company.email }}" >{{ site.company.email }}</a>
                </p>

                <p class="contact__line" itemprop="companyResidenceMap">
                    <a class="anchor anchor--emphasized" href="{{ site.company.address.residence.map_link }}" target="_blank" rel="noopener" >Map to our office</a>
                </p>


            </article>

            <article class="contact v-home__company-billing">
                <h1 class="delta">Billing</h1>
                <p class="contact__line">{{ site.company.official_name }}</p>
                <p class="contact__line">{{ site.company.address.billing.line1 }}</p>
                <p class="contact__line">{{ site.company.address.billing.line2 }}</p>
                <p class="contact__line">{{ site.company.address.billing.line3 }}</p>
                <p class="contact__line contact__line--indented">IČO: <span itemprop="identifier">{{ site.company.ico }}</span></p>
                <p class="contact__line">DIČ: <span itemprop="taxID">{{ site.company.dic }}</span></p>
                <p class="contact__line">Account nr.: {{ site.company.account_nr }}</p>
            </article>

            <form class="v-home__company-contactform form" action="https://formspree.io/{{ site.company.contact_email }}" method="POST">
                <input type="hidden" name="_subject" value="New question submission from the website" />
                <input type="text" name="_gotcha" style="display:none" />

                <div class="form__line">
                    <label for="name" class="form-label">Your name</label>
                    <input class="form-control" type="text" name="name" required>
                </div>
                <div class="form__line">
                    <label for="name" class="form-label">Your email</label>
                    <input class="form-control" type="email" name="_replyto" required>
                </div>
                <div class="form__line">
                    <label for="name" class="form-label">Your message</label>
                    <textarea class="form-control" name="message" required></textarea>
                </div>
                <div class="form__submit">
                    <input type="submit" class="button" value="Send">
                </div>
            </form>
        </div>
    </section>
</div>
