@mixin underlineSkippingDescenders() {
    text-decoration: underline;
    text-decoration-skip: objects edges leading-spaces trailing-spaces;
    text-decoration-skip-ink: auto;
    text-decoration-width: 1px;
}
