@mixin underlineSkippingDescenders() {
    text-decoration: underline;
    text-decoration-skip: objects edges leading-spaces trailing-spaces;
    text-decoration-skip-ink: auto;
    text-decoration-width: 1px;
}


@mixin narrow-content {
    @include breakpoint(mobile up) {
        max-width: gu(25);
        margin-left: auto;
        margin-right: auto;
    }
}


@mixin anchor-style($emphasize: false) {
    @include underlineSkippingDescenders();

    @if ($emphasize) {
        color: map-get($palette, red);
    }

    &:hover {
        text-decoration: none;
    }
}
