<article itemtype="http://schema.org/BlogPosting" itemscope="" class="post-listing post-listing--featured">
    {% if include.post.thumbnail %}
        <img itemprop="image" src="{{ include.post.thumbnail }}" class="post-listing__image" />
    {% endif %}
    <a href="{{ include.post.url | relative_url }}" class="post-listing__anchor">
        <h1 itemprop="headline" class="post-listing__headline">{{ include.post.title }}</h1>
    </a>
    <span itemprop="author" itemtype="http://schema.org/Person" itemscope="" class="post-listing__author">
        <span itemprop="name">{{ include.post.author }}</span>
    </span>
    <meta itemprop="datePublished" content="{{ include.post.date | date_to_xmlschema }}" />
    <span class="post-listing__pubdate">{{ include.post.date | date: "%d.%m.%Y" }}</span>
    <p itemprop="description" class="post-listing__excerpt">{{ include.post.excerpt | truncatewords: 45 | strip_html }}</p>
</article>
