<article itemtype="http://schema.org/BlogPosting" itemscope="" class="blog-posting {% if include.class %}{{ include.class }}{% endif %}">
    <div class="blog-posting__content">
        <h1 itemprop="headline" class="blog-posting__headline">
            <a href="{{ include.post.url | relative_url }}" class="blog-posting__anchor">{{ include.post.title }}</a>
        </h1>
        <p class="blog-posting__meta">
            <span itemprop="author" itemtype="http://schema.org/Person" itemscope="" class="blog-posting__author">
                <span itemprop="name">{{ include.post.author }}</span>
            </span>
            <meta itemprop="datePublished" content="{{ include.post.date | date_to_xmlschema }}" />
            <span class="blog-posting__pubdate">{{ include.post.date | date: "%d.%m.%Y" }}</span>
        </p>
        {% if include.show_cta %}
        <p itemprop="description" class="blog-posting__excerpt">{{ include.post.excerpt | strip_html | truncatewords: 45 }}</p>
            <a href="{{ include.post.url | relative_url }}" class="button blog-posting__cta-button">Read</a>
        {% else %}
        <p itemprop="description" class="blog-posting__excerpt">
            <a href="{{ include.post.url | relative_url }}" class="blog-posting__anchor">{{ include.post.excerpt | strip_html | truncatewords: 45 }}</a>
        </p>
        {% endif %}
    </div>
    {% if include.post.thumbnail %}
    <a href="{{ include.post.url | relative_url }}" class="blog-posting__media" style="background-image: url('{{ include.post.thumbnail }}')">
        <img itemprop="image" src="{{ include.post.thumbnail }}" class="blog-posting__image" />
    </a>
    {% endif %}
</article>
