<article itemtype="http://schema.org/BlogPosting" itemscope="" class="blog-posting {% if include.class %}{{ include.class }}{% endif %}" lang="{{ include.post.lang }}">
    <a href="{{ include.post.url | relative_url }}" class="blog-posting__body">
        <div class="blog-posting__content">
            <h1 itemprop="headline" class="blog-posting__headline">{{ include.post.title }}</h1>
            <p class="blog-posting__meta">
                <span class="blog-posting__pubdate">{{ include.post.date | date: '%B %d, %Y' }}</span>
                <span itemprop="author" itemtype="http://schema.org/Person" itemscope="" class="blog-posting__author">
                    by <span itemprop="name">{{ include.post.author }}</span>
                </span>

                <span itemprop="publisher" itemtype="http://schema.org/Organization" class="hidden" itemscope>
                    <span itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
                        <meta itemprop="url" content="{{ 'assets/img/strawberry.svg' | absolute_url }}">
                    </span>
                    <meta itemprop="name" content="{{ site.company.official_name }}">
                </span>

                <meta itemprop="datePublished" content="{{ include.post.date | date_to_xmlschema }}" />
                <link itemprop="mainEntityOfPage" href="{{ include.post.url }}" />
            </p>
            <p itemprop="description" class="blog-posting__excerpt">{{ include.post.excerpt | strip_html | truncatewords: 45 }}</p>
            {% if include.show_cta %}
            <div class="blog-posting__cta">
                <span class="button blog-posting__cta-button">Read</span>
            </div>
            {% endif %}
        </div>
        {% if include.post.cloudinary_src %}
            <div class="blog-posting__media" style="
                {%- if include.media_sizing == 'large' -%}
                background-image: url('{% cloudinary_url include.post.cloudinary_src width='1280' height='800' crop='fit' quality='auto' format='auto' %}');
                background-image: -webkit-image-set(url({% cloudinary_url include.post.cloudinary_src width='1280' height='800' crop='fit' quality='auto' format='auto' dpr='1.0' %}) 1x, url({% cloudinary_url include.post.cloudinary_src width='1280' height='800' crop='fit' quality='auto' format='auto' dpr='2.0' %}) 2x);
                {%- else -%}
                background-image: url('{% cloudinary_url include.post.cloudinary_src width='400' height='240' crop='fit' quality='auto' format='auto' dpr='1.0' %}');
                background-image: -webkit-image-set(url({% cloudinary_url include.post.cloudinary_src width='400' height='240' crop='fit' quality='auto' format='auto' dpr='1.0' %}) 1x, url({% cloudinary_url include.post.cloudinary_src width='400' height='240' crop='fit' quality='auto' format='auto' dpr='2.0' %}) 2x);
                {%- endif -%}
            ">
                <!-- image is hidden in css, it's here only for metadata-->
                <img itemprop="image" src="{% cloudinary_url include.post.cloudinary_src width='480' height='240' crop='fit' quality='auto' format='auto' dpr='1.0' %}" class="blog-posting__image" />
            </div>
        {% endif %}
    </a>
</article>
