<article itemtype="http://schema.org/BlogPosting" itemscope="" class="blog-posting {% if include.class %}{{ include.class }}{% endif %}" lang="{{ include.post.lang }}">
    <a href="{{ include.post.url | relative_url }}" class="blog-posting__body nohover">
        <div class="blog-posting__content">
            <h1 itemprop="headline" class="blog-posting__headline">{{ include.post.title }}</h1>
            <p class="blog-posting__meta">
                <span class="blog-posting__pubdate">{{ include.post.date | date: '%B %d, %Y' }}</span>
                <span itemprop="author" itemtype="http://schema.org/Person" itemscope="" class="blog-posting__author">
                    by <span itemprop="name">{{ include.post.author }}</span>
                </span>

                <span itemprop="publisher" itemtype="http://schema.org/Organization" class="hidden" itemscope>
                    {% include_cached seo/company-image.html prop="logo" %}
                    <meta itemprop="name" content="{{ site.company.official_name }}">
                </span>

                <meta itemprop="datePublished" content="{{ include.post.date | date_to_xmlschema }}" />
                <meta itemprop="dateModified" content="{% if include.post.modified_time %}{{ include.post.modified_time | date_to_xmlschema }}{% else %}{{ include.post.date | date_to_xmlschema }}{% endif %}" />
                <link itemprop="mainEntityOfPage" href="{{ include.post.url }}" />
            </p>
            {% if include.excerpt_words %}
                {% assign excerpt_words = include.excerpt_words %}
            {% else %}
                {% assign excerpt_words = 40 %}
            {% endif %}
            <p itemprop="description" class="blog-posting__excerpt">{{ include.post.excerpt | strip_html | truncatewords: excerpt_words }}</p>

            {% if include.show_cta %}
            <div class="blog-posting__cta">
                <span class="button blog-posting__cta-button" role="button">Read</span>
            </div>
            {% endif %}
        </div>
        {% if include.post.youtube_id %}
        <div class="blog-posting__media" >
            {% include youtube.html id=include.post.youtube_id width='100%' %}
        </div>
        {% endif %}
        {% if include.post.cloudinary_src %}
        <div class="blog-posting__media">
            <div class="blog-posting__media-fill" style="
                {%- if include.media_sizing == 'large' -%}
                    {%- include posts/listing/standard.bgimage.html src=include.post.cloudinary_src darken=include.media_darken width='1290' height='800' -%}
                {%- elsif include.media_sizing == 'medium' -%}
                    {%- include posts/listing/standard.bgimage.html src=include.post.cloudinary_src darken=include.media_darken width='832' height='464' -%}
                {%- else -%}
                    {%- include posts/listing/standard.bgimage.html src=include.post.cloudinary_src darken=include.media_darken width='400' height='400' -%}
                {%- endif -%}
            ">
                <!-- image is hidden in css, it's here only for metadata-->
                <img itemprop="image" src="{% cloudinary_url include.post.cloudinary_src width='480' height='240' crop='fit' quality='auto' format='auto' dpr='1.0' %}" class="blog-posting__image" />
            </div>
        </div>
        {% endif %}
    </a>
</article>
