<footer class="content-block">
    <div class="footer typeset">
        <div class="footer__meta">
            <a href="{{ '/' | relative_url }}">
                <img alt="{{ site.company.official_name }}" class="footer__brand" src="{{ '/assets/img/strawberry.svg' | relative_url }}">
            </a>
            <span class="footer__copy">&copy; {{ site.time | date: '%Y' }} {{ site.company.official_name }}</span>
        </div>
        <div class="footer__social">
            {% if site.company.social.twitter %}
                <a href="https://twitter.com/{{ site.company.social.twitter }}" class="icon--twitter footer__social-icon"></a>
            {% endif %}
            {% if site.company.social.linkedin %}
                <a href="https://linkedin.com/company/{{ site.company.social.linkedin }}" class="icon--linkedin footer__social-icon"></a>
            {% endif %}
            {% if site.company.social.gplus %}
                <a href="https://plus.google.com/+{{ site.company.social.gplus }}"class="icon--gplus footer__social-icon"></a>
            {% endif %}
            {% if site.company.social.github %}
                <a href="https://github.com/{{ site.company.social.github }}"class="icon--github footer__social-icon"></a>
            {% endif %}
        </div>
    </div>
</footer>
