<footer class="content-block">
    <div class="footer">
        <div class="footer__meta">
            <a href="{{ '/' | relative_url }}">
                <img alt="{{ site.company.official_name }}" class="footer__brand" src="{{ '/assets/img/strawberry.svg' | relative_url }}">
            </a>
            <div class="footer__copy">
                <div class="footer__copy-line footer__copy-line--emphasized">FRAGARIA &copy; {{ site.time | date: '%Y' }}</div>
                <div class="footer__copy-line">Talk is cheap, show me the code.</div>
            </div>
        </div>
        <div class="footer__social">
            {% if site.company.social.twitter %}
                <a href="https://twitter.com/{{ site.company.social.twitter }}" class="icon--twitter footer__social-icon" title="Twitter profile page"></a>
            {% endif %}
            {% if site.company.social.linkedin %}
                <a href="https://linkedin.com/company/{{ site.company.social.linkedin }}" class="icon--linkedin footer__social-icon" title="LinkedIn profile page"></a>
            {% endif %}
            {% if site.company.social.github %}
                <a href="https://github.com/{{ site.company.social.github }}" class="icon--github footer__social-icon" title="GitHub profile page"></a>
            {% endif %}
            {% if site.company.social.github %}
                <a href="https://stackshare.io/{{ site.company.social.stackshare }}" class="icon--stackshare footer__social-icon" title="Stackshare profile page"></a>
            {% endif %}
        </div>
    </div>
</footer>
