<head>
    {%- capture posts_archive_title -%}
        {%- if page.type == 'tag' -%}
            Posts tagged with "{{ page.title }}"
        {%- elsif page.type == 'year' -%}
            Posts in {{ page.date | date: '%Y' }}
        {%- elsif page.type == 'month' -%}
            Posts in {{ page.date | date: '%Y %b' }}
        {%- endif -%}
    {%- endcapture -%}

    {%- capture page_title -%}
        {%- if posts_archive_title != '' -%}
            {{ posts_archive_title | escape }}
        {%- elsif page.title -%}
            {{ page.title | escape }} {% if paginator %} - Page {{ paginator.page }} {% endif %}
        {%- endif -%}
    {%- endcapture -%}

    {% capture title %}{% if page_title != '' %}{{ page_title }} | {% endif %}{{ site.title | escape }}{% endcapture %}
    {% capture description %}{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | replace: '<br>', ' ' | strip_html | strip_newlines | truncate: 330 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    {% capture keywords %}{{ site.keywords }}{% if page.keywords %}, {{ page.keywords }}{% endif %}{% if page.tags %}, {{ page.tags | join: ', ' }}{% endif %}{% endcapture %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <title>{{ title }}</title>
    <meta name="author" content="{{ site.company.official_name }}" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}" />

    <meta property="og:url"           content="{{ page.url | absolute_url }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ title }}" />
    <meta property="og:description"   content="{{ description }}" />

    {% if page.cloudinary_src %}
        <meta property="og:image"         content="{% cloudinary_url page.cloudinary_src width='640' crop='fit' quality='auto' format='jpg' %}" />
    {% elsif page.img %}
        <meta property="og:image"         content="{{ page.img }}" />
    {% else %}
        <meta property="og:image"         content="{{ 'assets/img/strawberry_1200-600.png' | absolute_url }}" />
    {% endif %}

    {% include_cached head-static.html %}
</head>

