<div class="team-members">
    {% for member in site.data.team %}
        {% capture member_slug %}{{ member.name | slugify }}{% endcapture %}
        {% capture member_url %}/#{{ member_slug }}{% endcapture %}
        <article itemprop="employee" itemtype="http://schema.org/Person" itemscope class="team-member" id="{{ member_slug }}">
            <div class="team-member__avatar" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                <picture>
                    {% if member.avatar.src == 'github' %}
                        <source srcset="https://github.com/{{ member.profiles.github }}.png?size=300" media="(min-width: 480px)" />
                        <img class="team-member__avatar-image" src="https://github.com/{{ member.profiles.github }}.png?size=128" alt="{{ member.name }}" itemprop="contentUrl" />
                    {% elsif member.avatar.src == 'gravatar' %}
                        <img class="team-member__avatar-image" src="{{ member.profiles.gravatar | to_gravatar }}?s=300" alt="{{ member.name }}" itemprop="contentUrl" />
                    {% elsif member.avatar.src == 'cloudinary' %}
                        <source srcset="{% cloudinary_url member.avatar.cloudinary crop='fit' height='300' width='300' quality='auto' format='auto' dpr='2.0' %}" media="(min-width: 480px)" />
                        <img class="team-member__avatar-image" src="{% cloudinary_url member.avatar.cloudinary crop='fit' height='128' width='128' quality='auto' format='auto' dpr='2.0' %}" alt="{{ member.name }}" itemprop="contentUrl" />
                    {% else %}
                        <img class="team-member__avatar-image" src="{{ member.avatar.img }}" alt="{{ member.name }}" itemprop="contentUrl" />
                    {% endif %}
                </picture>
            </div>
            <div class="team-member__body typeset">
                <h1 itemprop="name" class="team-member__name gamma">{{ member.name }}</h1>
                <p class="team-member__alt caption caption--nopad" itemprop="jobTitle">{{ member.alt }}</p>
                <meta itemprop="gender" content="{{ member.gender }}">
                <meta itemprop="nationality" content="{{ member.nationality }}">
            </div>
        </article>
    {% endfor %}
</div>
