<div class="team-members">
    {% for member in site.data.team %}
        {% capture member_slug %}{{ member.name | slugify }}{% endcapture %}
        {% capture member_url %}/#{{ member_slug }}{% endcapture %}
        <article itemprop="employee" itemtype="http://schema.org/Person" itemscope class="team-member" id="{{ member_slug }}">
            <div class="team-member__avatar" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                <picture>
                    {% if member.avatar.src == 'github' %}
                        <source srcset="https://github.com/{{ member.profiles.github }}.png?size=300" media="(min-width: 480px)" />
                        <img class="team-member__avatar-image" src="https://github.com/{{ member.profiles.github }}.png?size=128" alt="{{ member.name }}" itemprop="contentUrl" />
                    {% elsif member.avatar.src == 'gravatar' %}
                        <img class="team-member__avatar-image" src="{{ member.profiles.gravatar | to_gravatar }}?s=300" alt="{{ member.name }}" itemprop="contentUrl" />
                    {% elsif member.avatar.src == 'cloudinary' %}
                        <source srcset="{% cloudinary_url member.avatar.cloudinary crop='fill' height='300' width='300' quality='auto' format='auto' dpr='2.0' %}" media="(min-width: 480px)" />
                        <img class="team-member__avatar-image" src="{% cloudinary_url member.avatar.cloudinary crop='fill' height='128' width='128' quality='auto' format='auto' dpr='2.0' %}" alt="{{ member.name }}" itemprop="contentUrl" />
                    {% else %}
                        <img class="team-member__avatar-image" src="{{ member.avatar.img }}" alt="{{ member.name }}" itemprop="contentUrl" />
                    {% endif %}
                </picture>
            </div>
            <div class="team-member__body typeset">
                <h1 itemprop="name" class="team-member__name gamma">{{ member.name }}</h1>
                <p class="team-member__alt caption caption--nopad" itemprop="jobTitle">{{ member.alt }}</p>
                <meta itemprop="gender" content="{{ member.gender }}">
                <meta itemprop="nationality" content="{{ member.nationality }}">
                <link itemprop="url" href="{{ member_url | relative_url }}">
                <div class="team-member__profiles">
                    {% if member.profiles.twitter %}
                        <a href="https://www.twitter.com/{{ member.profiles.twitter }}" target="_blank" rel="noopener" itemprop="sameAs" class="team-member__profile team-member__profile--twitter" title="Twitter">
                            <span class="team-member__profile-body">Twitter</span>
                        </a>
                    {% endif %}
                    {% if member.profiles.facebook %}
                        <a href="https://www.facebook.com/{{ member.profiles.facebook }}" target="_blank" rel="noopener" itemprop="sameAs" class="team-member__profile team-member__profile--facebook" title="Facebook">
                            <span class="team-member__profile-body">Facebook</span>
                        </a>
                    {% endif %}
                    {% if member.profiles.gplus %}
                        <a href="https://plus.google.com/{{ member.profiles.gplus }}" target="_blank" rel="noopener" itemprop="sameAs" class="team-member__profile team-member__profile--gplus" title="Google+">
                            <span class="team-member__profile-body">Google+</span>
                        </a>
                    {% endif %}
                    {% if member.profiles.linkedin %}
                        <a href="https://www.linkedin.com/in/{{ member.profiles.linkedin }}" target="_blank" rel="noopener" itemprop="sameAs" class="team-member__profile team-member__profile--linkedin" title="LinkedIn">
                            <span class="team-member__profile-body">LinkedIn</span>
                        </a>
                    {% endif %}
                    {% if member.profiles.github %}
                        <a href="https://github.com/{{ member.profiles.github }}" target="_blank" rel="noopener" itemprop="sameAs" class="team-member__profile team-member__profile--github" title="GitHub">
                            <span class="team-member__profile-body">GitHub</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
</div>
