@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin-ext');

// Colors
$palette: (
    black: #000,
    white: #fff,
    red: #ea272e,
    grey-light: rgba(0,0,0,.05),
    grey-medium: rgba(0,0,0,.5),
    grey-dark: rgba(0,0,0,.8),
);

$brands: (
    facebook: (
        main:#3b5998,
        alt: #fff,
        icon: $icon--facebook,
    ),
    twitter: (
        main: #1da1f2,
        alt: #fff,
        icon: $icon--twitter,
    ),
    gplus: (
        main: #dd4b39,
        alt: #fff,
        icon: $icon--gplus,
    ),
    linkedin: (
        main: #0077b5,
        alt: #fff,
        icon: $icon--linkedin,
    ),
    github: (
        main: #333,
        alt: #fff,
        icon: $icon--github,
    ),
);

@function getBrandInfo($brand, $prop) {
    @return map-get(map-get($brands, $brand), $prop);
}

$primary-color: map-get($palette, black);

$body-background: map-get($palette, white);
$text-color: $primary-color;

$anchor-color: $primary-color;
$anchor-hover-color: map-get($palette, red);

$border-color: $primary-color;

$hr-color: map-get($palette, grey-medium);

$caption-color: map-get($palette, grey-medium);

$code-background-color: map-get($palette, grey-light);

$selection-color: map-get($palette, red);

// Aliases for Sassline breakpoints, @see: $breakpoints
$breakpoint-aliases: (
    zero: break-0,
    mobile: break-1,
    tablet: break-2,
    desktop: break-3,
);

// Buttons

$button-variants: (
    primary: (
        foreground: map-get($palette, white),
        background: map-get($palette, black),
    )
);

// Sharebox

$sharebox-variants: (
    facebook: (
        foreground: getBrandInfo(facebook, alt),
        background:getBrandInfo(facebook, main),
        icon: getBrandInfo(facebook, icon),
    ),
    twitter: (
        foreground: getBrandInfo(twitter, alt),
        background:getBrandInfo(twitter, main),
        icon: getBrandInfo(twitter, icon),
    ),
    gplus: (
        foreground: getBrandInfo(gplus, alt),
        background:getBrandInfo(gplus, main),
        icon: getBrandInfo(gplus, icon),
    ),
);

// Fonts


// Sassline settings
// https://sassline.com/

// Breakpoint sizes from px to ems. Add more values here to add more breakpoints.
// Change names if you prefer, it wont break the mixin as long as they are strings not just numbers.
$breakpoints: (
    // zero
    break-0: 0,
    // mobile
    break-1: 480, // 1 rem * 30
    // tablet
    break-2: 768, // 1 rem * 48
    // desktop
    break-3: 1408, // 1rem * 88
);

// Root font-sizes for each breakpoint. Set to half desired line-height of body text.
// ! Make sure to have as many sizes as breakpoints above.
$rootsizes: (
    rootsize-0: 16,   // 24px line-height body text
    rootsize-1: 16,   // 28px line-height body text
    rootsize-2: 16,   // 30px line-height body text
    rootsize-3: 16,   // 34px line-height body text
);

// Set the optimum line-length for your text (based on typeface).
// Aim for 75–100 characters a line when possible, at smaller sizes type size is more important.
// ! Make sure to have as many widths as breakpoints above.
// Note: this was 'maxwidths' in previous versions.
$measures: (
    measure-0: 500,  // 500px wide
    measure-1: 550,  // 550px wide
    measure-2: 600,  // 600px wide
    measure-3: 680  // 680px wide
);

// Set the max-widths for containers (based on design).
// ! Make sure to have as many widths as breakpoints above.
$maxwidths: (
    width-0: 480,
    width-1: 768,
    width-2: 1280,
    width-3: 1300,
);

// Gutter widths
$gutterwidths: (
    small: 1rem,
    medium: 2rem,
    large: 4rem
);

$bodytype: (
    font-family: "'Times New Roman', serif",
    regular: 400,
    bold: 700,
    italic: italic,
    cap-height: 0.65
);

$headingtype: (
    font-family: '"PlayFair Display SC", serif',
    regular: 400,
    bold: 400,
    italic: italic,
    cap-height: 0.82
);

$monospacetype: (
    font-family: 'Menlo, monospace',
    regular: 400,
    cap-height: 0.68
);

$sansseriftype: (
    font-family: "'Open Sans Condensed', sans-serif",
    regular: 400,
    bold: 700,
    cap-height: 0.56
);
