@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i&subset=latin-ext');

// Colors
$palette: (
    black: #000,
    white: #fff,
    red: #ea272e
);

$primary-color: map-get($palette, black);

$body-background: map-get($palette, white);
$text-color: $primary-color;

$anchor-color: $primary-color;
$anchor-hover-color: darken($anchor-color, 10%);

$border-color: $primary-color;

// Fonts

// Sassline settings
// https://sassline.com/

// Breakpoint sizes from px to ems. Add more values here to add more breakpoints.
// Change names if you prefer, it wont break the mixin as long as they are strings not just numbers.
$breakpoints: (
    break-0: 0,
    break-1: 320,
    break-2: 480,
    break-3: 768,
    break-4: 992,
    break-5: 1200,
);

// Root font-sizes for each breakpoint. Set to half desired line-height of body text.
// ! Make sure to have as many sizes as breakpoints above.
$rootsizes: (
    rootsize-0: 12,   // 24px line-height body text
    rootsize-1: 14,   // 28px line-height body text
    rootsize-2: 15,   // 30px line-height body text
    rootsize-3: 17,   // 34px line-height body text
    rootsize-4: 19,   // 38px line-height body text
    rootsize-5: 21,   // 42px line-height body text
);

// Set the optimum line-length for your text (based on typeface).
// Aim for 75–100 characters a line when possible, at smaller sizes type size is more important.
// ! Make sure to have as many widths as breakpoints above.
// Note: this was 'maxwidths' in previous versions.
$measures: (
    measure-0: 500,  // 500px wide
    measure-1: 550,  // 550px wide
    measure-2: 600,  // 600px wide
    measure-3: 680,  // 680px wide
    measure-4: 750,  // 750px wide
    measure-5: 830,
);

// Set the max-widths for containers (based on design).
// ! Make sure to have as many widths as breakpoints above.
$maxwidths: (
    width-0: 320,
    width-1: 480,
    width-2: 768,
    width-3: 992,
    width-4: 1200,
    width-5: 1600
);

// Gutter widths
$gutterwidths: (
    small: 1rem,
    medium: 2rem,
    large: 4rem
);

$bodytype: (
    font-family: '"Times New Roman", serif',
    regular: 400,
    bold: 700,
    italic: italic,
    cap-height: 0.65
);

$headingtype: (
    font-family: '"PlayFair Display SC", serif',
    regular: 400,
    bold: 400,
    italic: italic,
    cap-height: 0.82
);

$headingColour: $primary-color;
$captionColour: #BDC8CC;
$white: #FFFFFF;

// Background colours.
$backgroundColour: $body-background;
$codeBackgroundColour: #F5F4F2;

// mq settings
// https://github.com/sass-mq/sass-mq
$mq-responsive: true;

$mq-breakpoints: (
    mobile:             320px,
    tablet:             768px,
    desktop:            992px,
    wide:               1200px,

    // Tweakpoints
    mobileLandscape:    480px,
);

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);
