<div class="sharebox">
    <ul class="sharebox__items">
        <li class="sharebox__item sharebox__item--twitter">
            <a class="sharebox__item-body" href="https://twitter.com/intent/tweet?text={{ include.title }}&url={{ include.url | absolute_url }}&via={{ site.company.twitter }}&related={{ site.company.twitter }}" target="_blank" rel="noopener" title="Share on Twitter"><span>Share on Twitter</span></a>
        </li>
        <li class="sharebox__item sharebox__item--facebook">
            <a class="sharebox__item-body" href="https://facebook.com/sharer.php?u={{ include.url | absolute_url }}" target="_blank" rel="noopener" title="Share on Facebook"><span>Share on Facebook</span></a>
        </li>
        <li class="sharebox__item sharebox__item--gplus">
            <a class="sharebox__item-body" href="https://plus.google.com/share?url={{ include.url | absolute_url }}" target="_blank" rel="noopener" title="Share on Google+"><span>Share on Google+</span></a>
        </li>
    </ul>
</div>
