---
layout: default
---

<section class="content-block v-blog-home typeset">
    {% assign featured_post = site.posts | where: 'featured', true | first %}

    {% if featured_post %}
        {% assign other_posts = site.posts | where_exp: 'post', 'post.url != featured_post.url' %}
    {% else %}
        {% assign other_posts = site.posts %}
    {% endif %}

    {% assign first_post = other_posts | first %}

    {% include posts/listing/standard.html post=first_post class='blog-posting--horizontal v-blog-home__main v-blog-home__section' %}

    <div class="v-blog-home__posts v-blog-home__posts--latest   v-blog-home__section v-blog-home__section--tablet-padtop v-blog-home__section--nodivider   blog-listing blog-listing--nofirstdivider">
        {% for post in other_posts offset: 1 limit: 3 %}
            <div class="blog-listing__post">
                {% include posts/listing/standard.html post=post class='blog-listing__post-inner' %}
            </div>
        {% endfor %}
    </div>

    {% if featured_post %}
        <div class="v-blog-home__section v-blog-home__section--tablet-padtop v-blog-home__section--nodivider">
            {% include posts/listing/standard.html post=featured_post class='blog-posting--featured content-block__cover--mobile v-blog-home__featured' show_cta=true %}
        </div>
    {% endif %}

    <div class="v-blog-home__posts v-blog-home__posts--other   v-blog-home__section   blog-listing blog-listing--rowdivider blog-listing--nolastpad">
        {% for post in other_posts offset: 4 limit: 6 %}
            <div class="blog-listing__post">
                {% include posts/listing/standard.html post=post class="blog-listing__post-inner" %}
            </div>
        {% endfor %}
    </div>


</section>

<section class="content-block typeset">
    {% assign more_posts = other_posts | slice: 10, 16 %}
    {% include posts/overview-list.html title='Older posts' cta_title='More posts' cta_link='/blog/archive/' posts=more_posts %}
</section>
