---
layout: default
---

<section class="content-block v-blog-home typeset">
    {% assign featured_post = site.posts | where: 'featured', true | first %}

    {% if featured_post %}
        {% assign other_posts = site.posts | where_exp: 'post', 'post.url != featured_post.url' %}
    {% else %}
        {% assign other_posts = site.posts %}
    {% endif %}

    {% assign first_post = other_posts | first %}

    {% include posts/listing/standard.html post=first_post class='blog-posting--horizontal v-blog-home__main v-blog-home__section' %}

    <div class="v-blog-home__posts v-blog-home__posts--latest v-blog-home__section blog-listing">
        {% for post in other_posts offset: 1 limit: 3 %}
            <div class="blog-listing__post">
                {% include posts/listing/standard.html post=post class='blog-listing__post-inner' %}
            </div>
        {% endfor %}
    </div>

    {% if featured_post %}
        {% include posts/listing/standard.html post=featured_post class='blog-posting--featured v-blog-home__featured v-blog-home__section' show_cta=true %}
    {% endif %}

    <div class="v-blog-home__posts v-blog-home__posts--other v-blog-home__section blog-listing blog-listing--hdivider">
        {% for post in other_posts offset: 4 limit: 6 %}
            <div class="blog-listing__post">
                {% include posts/listing/standard.html post=post class="blog-listing__post-inner" %}
            </div>
        {% endfor %}
    </div>

    <a href="{{ '/blog/archive/' | relative_url }}">More posts</a>
</section>
