---
layout: default
---

<div class="content-block v-blog-archive">
    <main class="v-blog-archive__main">
        {{ content }}
    </main>
    <nav class="v-blog-archive__nav v-blog-archive-nav typeset">
        <div class="v-blog-archive-nav__yearlist">
            <h2 class="newspaper-splitting-headline"><a href="{{ '/blog/archive/' | relative_url }}" class="newspaper-splitting-headline__fill">Archive</a></h2>
            {% include posts/year-list.html %}
        </div>

        <div class="v-blog-archive-nav__topiclist">
            <h2 class="newspaper-splitting-headline"><span class="newspaper-splitting-headline__fill">Topics</span></h2>
            {% include posts/topic-list.html %}
        </div>
    </nav>
</div>


