---
layout: blank
---

<div class="content-block v-blog-archive">
    <div class="v-blog-archive__main">
        {{ content }}

        <main class="typeset">
            {% if page.posts %}
                {% assign posts = page.posts %}
            {% elsif paginator %}
                {% assign posts = paginator.posts %}
            {% endif %}

            <div class="blog-listing blog-listing--rowdivider blog-listing--nofirstdivider blog-listing--nolastpad">
                {% for post in posts %}
                    <div class="blog-listing__post">
                        {% include_cached posts/listing/standard.html post=post class='blog-listing__post-inner  blog-listing__post--tablet-magin' %}
                    </div>
                {% endfor %}
            </div>
        </main>

        {% if paginator %}
        <nav class="u-margin--top2">
            {% include_cached posts/pagination.html paginator=paginator %}
        </nav>
        {% endif %}
    </div>

    {% include layouts/archive-nav.html %}
</div>


