---
---

<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="">
    {% include head.html %}

    <body class="page-container baseline-grid baseline-grid--visible">
        <nav class="typeset">
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            </ul>
        </nav>

        <div class="page-container__inner">
            {{ content }}
        </div>
    </body>
</html>
