---
layout: blank
---

<article itemtype="https://schema.org/TechArticle" itemscope class="article" lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
    <div class="content-block typeset">
        <h1 itemprop="name" class="article__headline">{{ page.title }}</h1>
        <meta itemprop="headline" content="{{ page.title }}">

        {% if page.thumbnail %}
            <meta itemprop="image" content="{{ page.thumbnail }}">
        {% endif %}

        <div itemprop="publisher" itemtype="http://schema.org/Organization" class="hidden" itemscope>
            <div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
                <meta itemprop="url" content="{{ 'assets/img/strawberry.svg' | absolute_url }}">
            </div>
            <meta itemprop="name" content="{{ site.company.official_name }}">
        </div>

        <p class="article__meta">
            <span itemprop="author" itemtype="http://schema.org/Person" itemscope="" class="article__author">
                by <span itemprop="name">{{ page.author }}</span>
            </span>
            <meta itemprop="datePublished" content="{{ include.post.date | date_to_xmlschema }}" />
            <span class="article__pubdate">{{ page.date | date: "%d.%m.%Y" }}</span>
            <meta itemprop="publisher">{{ site.organization.official_name }}</meta>
        </p>

        {% if page.description %}
            <p class="article__perex" itemprop="description">{{ page.description }}</p>
        {% endif %}

        <div class="article__content-wrap">
            <div class="article__content">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="article__misc">
            <div class="article__miscitem">
                {% include posts/taglist.html tags=page.tags %}
            </div>
            <div class="article__miscitem">
                {% include posts/sharebox.html %}
            </div>
        </div>
    </div>
</article>
