---
layout: archive
---

{% capture title %}
    {% if page.type == 'tag' %}
        Posts with tag '{{ page.title }}'
    {% elsif page.type == 'year' %}
        Posts in {{ page.date | date: '%Y' }}
    {% elsif page.type == 'month' %}
        Posts in {{ page.date | date: '%Y %b' }}
    {% endif %}
{% endcapture %}

<header>
    <h1 itemprop="headline">{{ title }}</h1>
</header>

<main>
    {% for post in page.posts %}
        {% include posts/listing/standard.html post=post %}
    {% endfor %}
</main>


