@import "variables";

@font-face {
  font-family: 'fragariacz-icons';
  src:  url('#{$icomoon-font-path}/fragariacz-icons.eot?p82sos');
  src:  url('#{$icomoon-font-path}/fragariacz-icons.eot?p82sos#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/fragariacz-icons.ttf?p82sos') format('truetype'),
    url('#{$icomoon-font-path}/fragariacz-icons.woff?p82sos') format('woff'),
    url('#{$icomoon-font-path}/fragariacz-icons.svg?p82sos#fragariacz-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fragariacz-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--city {
  &:before {
    content: $icon--city; 
  }
}
.icon--beer {
  &:before {
    content: $icon--beer; 
  }
}
.icon--thermometer {
  &:before {
    content: $icon--thermometer; 
  }
}
.icon--gnu {
  &:before {
    content: $icon--gnu;     
    color: #a42e2b;
  }
}
.icon--at {
  &:before {
    content: $icon--at; 
  }
}
.icon--power {
  &:before {
    content: $icon--power; 
  }
}
.icon--house {
  &:before {
    content: $icon--house; 
  }
}
.icon--location {
  &:before {
    content: $icon--location; 
  }
}
.icon--phone {
  &:before {
    content: $icon--phone; 
  }
}
.icon--linkedin {
  &:before {
    content: $icon--linkedin; 
  }
}
.icon--github {
  &:before {
    content: $icon--github; 
  }
}
.icon--gplus {
  &:before {
    content: $icon--gplus; 
  }
}
.icon--twitter {
  &:before {
    content: $icon--twitter; 
  }
}
.icon--facebook {
  &:before {
    content: $icon--facebook; 
  }
}

