@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?3rxsze');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?3rxsze#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?3rxsze') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?3rxsze') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?3rxsze##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--stackshare {
  &:before {
    content: $icon--stackshare; 
  }
}
.icon--open-source {
  &:before {
    content: $icon--open-source; 
  }
}
.icon--arrow-down {
  &:before {
    content: $icon--arrow-down; 
  }
}
.icon--link {
  &:before {
    content: $icon--link; 
  }
}
.icon--city {
  &:before {
    content: $icon--city; 
  }
}
.icon--beer {
  &:before {
    content: $icon--beer; 
  }
}
.icon--thermometer {
  &:before {
    content: $icon--thermometer; 
  }
}
.icon--at {
  &:before {
    content: $icon--at; 
  }
}
.icon--paw {
  &:before {
    content: $icon--paw; 
  }
}
.icon--power {
  &:before {
    content: $icon--power; 
  }
}
.icon--house {
  &:before {
    content: $icon--house; 
  }
}
.icon--location {
  &:before {
    content: $icon--location; 
  }
}
.icon--phone {
  &:before {
    content: $icon--phone; 
  }
}
.icon--linkedin {
  &:before {
    content: $icon--linkedin; 
  }
}
.icon--github {
  &:before {
    content: $icon--github; 
  }
}
.icon--twitter {
  &:before {
    content: $icon--twitter; 
  }
}
.icon--facebook {
  &:before {
    content: $icon--facebook; 
  }
}

