@import "variables";

@font-face {
  font-family: 'fragariacz-icons';
  src:  url('#{$icomoon-font-path}/fragariacz-icons.eot?t4c1vm');
  src:  url('#{$icomoon-font-path}/fragariacz-icons.eot?t4c1vm#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/fragariacz-icons.ttf?t4c1vm') format('truetype'),
    url('#{$icomoon-font-path}/fragariacz-icons.woff?t4c1vm') format('woff'),
    url('#{$icomoon-font-path}/fragariacz-icons.svg?t4c1vm#fragariacz-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fragariacz-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--gplus {
  &:before {
    content: $icon--gplus; 
  }
}
.icon--twitter {
  &:before {
    content: $icon--twitter; 
  }
}
.icon--facebook {
  &:before {
    content: $icon--facebook; 
  }
}

