$icomoon-font-family: "fragariacz-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon--open-source: "\e90e";
$icon--city: "\e908";
$icon--beer: "\e909";
$icon--thermometer: "\e90a";
$icon--at: "\e905";
$icon--paw: "\e90b";
$icon--power: "\e90c";
$icon--house: "\e90d";
$icon--location: "\e906";
$icon--phone: "\e907";
$icon--linkedin: "\e903";
$icon--github: "\e904";
$icon--gplus: "\e900";
$icon--twitter: "\e901";
$icon--facebook: "\e902";

