$icomoon-font-path: "fonts" !default;

$icon--at: "\e905";
$icon--location: "\e906";
$icon--phone: "\e907";
$icon--linkedin: "\e903";
$icon--github: "\e904";
$icon--gplus: "\e900";
$icon--twitter: "\e901";
$icon--facebook: "\e902";

