---
layout: blank
title: Career
description: Looking for a job? We always look out for talented people to join us. Fragaria is a company with some serious software development history. You can be sure to learn a lot. Fast.
keywords: career, jobs, about
---

<div class="content-block v-career typeset" itemtype="https://schema.org/JobPosting" itemscope>
    <span itemprop="jobLocation" itemtype="https://schema.org/Place" itemscope class="hidden">
        <meta itemprop="name" content="{{ site.company.official_name }}">
        <span itemprop="address" itemtype="https://schema.org/PostalAddress" itemscope>
            <meta itemprop="streetAddress" content="{{ site.company.address.residence.line1 }}">
            <meta itemprop="postalCode" content="{{ site.company.address.residence.line2 }}">
            <meta itemprop="addressLocality" content="{{ site.company.address.residence.line3 }}">
        </span>
    </span>
    <span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ site.company.official_name }}">
    </span>
    <meta itemprop="description" content="Developer of web applications">
    <meta itemprop="datePosted" content="2018-07-01">
    <meta itemprop="jobBenefits" content="{% for fact in site.data.facts %}{{ fact.title }}{% unless forloop.last %}, {% endunless %}{% endfor %}">
    <meta itemprop="skills" content="{% for tech in site.data.tech %}{{ tech.title }}{% unless forloop.last %}, {% endunless %}{% endfor %}">
    <meta itemprop="industry" content="web application development">
    <meta itemprop="title" content="web application developer">

    <section class="hero hero--smaller">
        <h1 class="hero__headline">Work with us</h1>
    </section>

    <section class="v-career-section">
        <div class="v-career-section--content">
            <p>Fragaria is a company with some serious software development history. The company is built upon people with <i>real skills</i>. You can be sure to learn a lot. <i>Fast</i>. There is a lot of learning opportunities for you.</p>
            <p>Besides developing great software, we like <i>being people too</i>. That's why we value friendship and understanding as our top priorities. We treat employees like people, not like machines. Expect a great team full of interesting characters (beers and parties included).</p>
        </div>
        <div class="v-career-section--content">
            <div class="v-career-facts-grid">
                {% for fact in site.data.facts %}
                    <div class="v-career-facts-grid__item">
                        <div class="v-career-facts-grid__icon {{ fact.icon }}"></div>
                        <h2 class="v-career-facts-grid__title">{{ fact.title }}</h2>
                        <p class="v-career-facts-grid__desc">{{ fact.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="v-career-section career-teaser career-teaser--short content-block__cover--mobile">
        <h1>Interested? Come and have a chat.</h1>
        <div class="career-teaser__contactbutton">
            <a href="mailto:hr@fragaria.cz" class="button" role="button">Contact us</a>
        </div>
    </section>

    <section class="v-career-section">
        <div class="v-career-section--content">
            <h1 class="v-career-section__headline">What <i>technologies</i> do we use?</h1>
            <p>We keep up with the latest trends in the web development industry. We enjoy working with the best tools currently available.</p>
            <p>Code quality is paramount to us, but we're not shy of prototyping with emerging technologies and frameworks.</p>
            <p>See our list of projects <a href="{{ '/#projects' | relative_url }}" class="anchor anchor--emphasized">here</a>. See our full stack on <a class="anchor anchor--emphasized" href="https://stackshare.io/{{ site.company.social.stackshare }}" target="_blank" rel="noopener">stackshare.io</a>.</p>
        </div>
        <div class="v-career-section--content">
            <div class="v-career-tech-grid">
                {% for tech in site.data.tech %}
                    <a href="{{ tech.url }}" class="v-career-tech-grid__item">
                        <img class="v-career-tech-grid__image" src="{{ tech.img | relative_url }}" alt="{{ tech.title }}" title="Not familiar with {{ tech.title }}? No problem, we'll teach you!">
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="v-career-section" itemscope>
        <h1 class="splitting-headline">
            <span class="splitting-headline__fill">Meet the team</span>
        </h1>

        {% include team-members.html %}
    </section>
</div>
