@mixin anchorStyle($emphasize: false) {
    font-weight: bold;
    text-decoration: underline;

    @if ($emphasize) {
        color: map-get($palette, red);
    }
}

.anchor--default {
    @include anchorStyle();
}

.anchor--emphasized {
    font-family: getFontFamily($headingtype);
    @include anchorStyle(true);
}
