// shows baseline grid on the page
.baseline-grid.baseline-grid--visible {
    background-image: -webkit-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
    background-image: -moz-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
    background-image: -o-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
    background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
    background-repeat: repeat-y;
    background-size: 100% 1rem;
}
