.blog-posting {
    display: flex;
    flex-direction: column;

    @include deviceBreakpoint(tablet) {
        margin: 2rem 0;
    }

    &--horizontal {
        flex-direction: row;

        .blog-posting__media {
            background: none !important;
        }

        .blog-posting__image {
            display: block;
        }
    }

    &--featured {
        text-align: center;
        position: relative;

        .blog-posting__media {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
            left: 0;
        }

        .blog-posting__content {
            z-index: 1;
            padding: 2rem 1rem;

            @include deviceBreakpoint(tablet) {
                padding: 4rem 2rem;
            }
        }

        .blog-posting__headline {
            @include sassline(72, $bodytype, 8, 0, all);
        }

        .blog-posting__content,
        .blog-posting__content a {
            color: $white;
        }
    }
}

.blog-posting__pubdate {
    display: none;
}

.typeset {
    p {
        &.blog-posting__meta {
            margin-bottom: 0;
        }

        &.blog-posting__excerpt {
            padding-top: 0;
        }
    }

    h1.blog-posting__headline {
        text-transform: uppercase;
        line-height: 2rem;

        @include deviceBreakpoint(tablet) {
            line-height: 3rem;
        }
    }
}


.blog-posting__author {
    font-style: italic;
}

.blog-posting__media {
    width: 100%;
    flex: 1;
    min-height: 8rem;
    background-size: cover;
    background-position: center;
}

.blog-posting__image {
    display: none;
}
