.blog-listing {
    display: flex;
    flex-direction: column;

    /* mobile version (incl. landscape) */
    @include mq($until: tablet) {
        /* main post goes first on mobile */
        .blog-listing__post--main {
            order: -2;
        }

        /* featured post goes second on mobile */
        .blog-listing__featured {
            order: -1;
        }

        /* all other posts except the latest ones are hidden */
        .blog-listing__posts:not(.blog-listing__posts--latest) {
            display: none;
        }

        /* posts are divided by horizontal line */
        .blog-listing__post + .blog-listing__post {
            border-top: 1px $border-color solid;
        }

        .blog-listing__post {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    /* tablet and larger */
    @include mq($from: tablet) {
        .blog-listing__post--main {
            padding-bottom: 4rem;
        }

        .blog-listing__posts {
            padding-bottom: 4rem;
        }

        /* posts within one row are divided by vertical line */
        .blog-listing__post + .blog-listing__post {
            border-left: 1px $border-color solid;
        }

        /* individual post rows are divided by horizontal line */
        .blog-listing__posts {
            border-top: 1px $border-color solid;
            padding-top: 4rem;
        }

        /* ...except for the first after featured */
        .blog-listing__featured + .blog-listing__posts {
            border-top: 0;
        }
    }
}

