
.blog-news__posts {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2rem;

    @include deviceBreakpoint(tablet) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }
}
