.blog-posting {
    width: 100%;
    display: flex;

    &--horizontal .blog-posting__body {
        flex-direction: column;
        padding-bottom: 4rem;

        @include deviceBreakpoint(tablet) {
            flex-direction: row;
        }

        .blog-posting__media {
            flex: inherit;
            margin: 2rem 0 0;
            min-width: 33.333%;
            filter: grayscale(0);

            @include deviceBreakpoint(tablet) {
                margin-left: 2rem;
                margin-top: 0;
            }
        }
    }

    &--featured .blog-posting__body {
        position: relative;
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        color: map-get($palette, white);

        // cancel color transition for the featured
        &:hover .blog-posting__headline,
        &:active .blog-posting__headline,
        &:focus .blog-posting__headline {
            color: inherit;
        }

        .blog-posting__media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            filter: grayscale(0);
            margin: 0;
        }

        .blog-posting__content {
            position: relative;
            padding: 3rem 1rem;
            z-index: 1;


            @include deviceBreakpoint(tablet) {
                padding: 6rem 2rem 5rem 2rem;
            }
        }

        .blog-posting__headline {
            text-decoration: none;

            @include sassline(alpha, $seriftype, 4, 1, all);
        }

        .blog-posting__meta {
            display: none;
        }

        .blog-posting__excerpt {
            max-width: deviceBreakpointWidth(tablet);
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            @include sassline(epsilon, $bodytype, 2, 1, all);
        }

        .blog-posting__cta-button:hover {
            background: $body-background;
            color: $text-color;
        }
    }
}


.blog-posting__body {
    width: 100%;
    display: flex;
    flex-direction: column;

    .blog-posting__headline {
        transition: #{$anchor-hover-transition};
    }

    &:hover,
    &:active,
    &:focus {
        // ... headline gets emphasis
        .blog-posting__headline {
            color: $anchor-hover-color;
        }

        .blog-posting__media {
            filter: grayscale(0);
        }
    }
}

.blog-posting__cta {
    padding-top: 1rem;
}

// this has to be scoped so it beats specificity of .typeset
.blog-posting {
    .blog-posting__excerpt {
        hyphens: auto;

        @include sassline(eta, $bodytype, 2, 0, all);
    }

    .blog-posting__meta {
        @include baseline(zeta, $bodytype, $below: 1);
    }

    .blog-posting__headline {
        font-family: getFontFamily($seriftype);
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;

        // @include sassline(alpha, $seriftype, 4, 1, all);
    }

    &:hover .blog-posting__meta {
        color: inherit;
    }
}

.blog-posting__author,
.blog-posting__pubdate {
    font-style: italic;
}

.blog-posting__media {
    width: 100%;
    flex: 1;
    min-height: 8rem;
    margin-top: 2rem;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
    }
}

.blog-posting__image {
    display: none;
}
