@mixin cbPadding($width) {
    padding-left: $width;
    padding-right: $width;
}

@mixin cbMargin($width) {
    margin-left: $width;
    margin-right: $width;
}

.content-block {
    @include cbPadding(1rem);

    @include deviceBreakpoint(mobileLandscape) {
        @include cbPadding(2rem);
    }

    @include deviceBreakpoint(desktop) {
        @include cbPadding(0);
    }
}

.content-block__fullscreen {
    @include cbMargin(-1rem);

    @include deviceBreakpoint(mobileLandscape) {
        @include cbMargin(-2rem);
    }

    @include deviceBreakpoint(desktop) {
        @include cbMargin(0);
    }
}
