.page-container {
    text-align: center;
}

.page-container__inner {
    width: 100%;
    max-width: deviceBreakpointWidth(desktop);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
