@mixin cbPadding($width) {
    padding-left: $width;
    padding-right: $width;
}

@mixin cbMargin($width) {
    margin-left: $width;
    margin-right: $width;
}

.content-block {
    @include cbPadding($grid-unit);

    @include breakpoint(tablet-small up) {
        @include cbPadding(2 * $grid-unit);
    }

    @include breakpoint(tablet up) {
        @include cbPadding(2 * $grid-unit);
    }
}

.content-block__cover {
    @include cbMargin(-1 * $grid-unit);

    @include breakpoint(tablet-small up) {
        @include cbMargin(-2 * $grid-unit);
    }

    @include breakpoint(tablet up) {
        @include cbMargin(-4 * $grid-unit);
    }
}

.content-block__cover--mobile {
    @include cbMargin(-1 * $grid-unit);

    @include breakpoint(tablet-small up) {
        @include cbMargin(0);
    }
}
