// @note: make sure you update fonts preload section in head.html when this changes
@font-face {
    font-family: "Andulka Text Pro";
    src: url("#{$web-font-path}/AndulkaTextPro.woff") format("woff");
    src: url("#{$web-font-path}/AndulkaTextPro.eot");
    src: url("#{$web-font-path}/AndulkaTextPro.eot#iefix") format("embedded-opentype"),
        url("#{$web-font-path}/AndulkaTextPro.woff") format("woff"),
        url("#{$web-font-path}/AndulkaTextPro.ttf") format("truetype"),
        url("#{$web-font-path}/AndulkaTextPro.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Andulka Text Pro";
    src: url("#{$web-font-path}/AndulkaTextPro-Italic.woff") format("woff");
    src: url("#{$web-font-path}/AndulkaTextPro-Italic.eot");
    src: url("#{$web-font-path}/AndulkaTextPro-Italic.eot#iefix") format("embedded-opentype"),
        url("#{$web-font-path}/AndulkaTextPro-Italic.woff") format("woff"),
        url("#{$web-font-path}/AndulkaTextPro-Italic.ttf") format("truetype"),
        url("#{$web-font-path}/AndulkaTextPro-Italic.svg") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Andulka Text Pro";
    src: url("#{$web-font-path}/AndulkaTextPro-Bold.woff") format("woff");
    src: url("#{$web-font-path}/AndulkaTextPro-Bold.eot");
    src: url("#{$web-font-path}/AndulkaTextPro-Bold.eot#iefix") format("embedded-opentype"),
        url("#{$web-font-path}/AndulkaTextPro-Bold.woff") format("woff"),
        url("#{$web-font-path}/AndulkaTextPro-Bold.ttf") format("truetype"),
        url("#{$web-font-path}/AndulkaTextPro-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Andulka Text Pro";
    src: url("#{$web-font-path}/AndulkaTextPro-BoldItalic.woff") format("woff");
    src: url("#{$web-font-path}/AndulkaTextPro-BoldItalic.eot");
    src: url("#{$web-font-path}/AndulkaTextPro-BoldItalic.eot#iefix") format("embedded-opentype"),
        url("#{$web-font-path}/AndulkaTextPro-BoldItalic.woff") format("woff"),
        url("#{$web-font-path}/AndulkaTextPro-BoldItalic.ttf") format("truetype"),
        url("#{$web-font-path}/AndulkaTextPro-BoldItalic.svg") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Trivia Grotesk N2";
    src: url("#{$web-font-path}/TriviaGroteskN2-Bold.woff") format("woff");
    src: url("#{$web-font-path}/TriviaGroteskN2-Bold.eot");
    src: url("#{$web-font-path}/TriviaGroteskN2-Bold.eot#iefix") format("embedded-opentype"),
        url("#{$web-font-path}/TriviaGroteskN2-Bold.woff") format("woff"),
        url("#{$web-font-path}/TriviaGroteskN2-Bold.ttf") format("truetype"),
        url("#{$web-font-path}/TriviaGroteskN2-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
