.footer {
    position: relative;
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    // second top border
    @include baselineAwareBorder($color: map-get($palette, black), $orientation: 'top', $width: 2px, $offset: 0);

    @include deviceBreakpoint(tablet) {
        align-items: flex-start;
        flex-direction: row;
        margin-top: 8rem;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }

    &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: -5px;
        width: 100%;
        background: map-get($palette, black);
        height: 2px
    }
}

.footer__meta {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    @include deviceBreakpoint(tablet) {
        flex-direction: row;
        margin-bottom: 0;
    }
}

.footer__brand {
    display: block;
    height: 3rem;
    margin: auto;
}

.footer__copy {
    padding-left: 0;
    margin-top: 1rem;
    font-family: getFontFamily($sansseriftype);
    letter-spacing: .09em;
    text-align: center;

    @include sassline(theta, $sansseriftype, 1, 0);

    @include deviceBreakpoint(tablet) {
        margin-top: 0;
        padding-left: 1rem;
        text-align: left;
    }
}

.footer__copy-line--emphasized {
    font-weight: bold;
}

.footer__social {
    line-height: 3rem;
    font-size: 1.5rem;

    @include deviceBreakpoint(tablet) {
        font-size: 2rem;
    }
}


.footer__social-icon + .footer__social-icon {
    margin-left: .5em;
}
