.form__line {
    display: block;
}

.form__line + .form__line {
    margin-top: gu();
}

.form__submit {
    margin-top: gu();
}

.form-label {
    display: block;
    font-family: getFontFamily($headingtype);

    @include baseline(zeta, $headingtype, $below: 1);
}

.form-control {
    display: block;
    width: 100%;
    font-family: getFontFamily($headingtype);
    background-color: map-get($palette, gray-light);
    border: 0;
    border-radius: 0;
    padding: gu(0.5);

    @include fontsize(zeta);

    &:focus {
        outline: none;
        box-shadow: none;
        background-color: darken(map-get($palette, gray-light), 1%);
    }
}

.form-control-wrapper {
    position: relative;
    /*
     * Shift form control a bit to align it closer to the label.
     * This breaks the grid temporarily for sake of better readability.
     */
     $shift: gu(0.5);
     margin-top: $shift * -1;
     padding-bottom: $shift;
     margin-bottom: gu(-1);

    &--select::after {
        font-family: '#{$icomoon-font-family}';
        position: absolute;
        right: 0;
        top: 0;
        content: $icon--arrow-down;
        display: block;
        height: gu(2);
        line-height: gu(2);
        font-size: 1.5rem;
        right: gu(0.5);
    }
}

input.form-control {
    // height: 2rem;
    line-height: gu();
    // border: 0;
}

select.form-control {
    line-height: gu();
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;

    &::-ms-expand {
        display: none; /* hide the default arrow in ie10 and ie11 */
    }
}

textarea.form-control {
    min-height: gu(4);
    line-height: gu();
    // border: 0;
}
