/**
 * Border implementation which doesn't break baseline.
 */
@mixin baselineAwareBorder($color: $border-color, $width: 1px, $orientation: 'top', $offset: 0, $size: 100%) {
    position: relative;

    &:before {
        content: '';
        display: block;
        width: $size;
        position: absolute;

        @if ($orientation == 'top') {
            top: $offset;
            border-top: $width $color solid;
        }

        @if ($orientation == 'bottom') {
            bottom: $offset;
            border-bottom: $width $color solid;
        }
    }
}

@mixin baselineAwareBorderCancel($orientation: 'top') {
    &:before {
        @if ($orientation == 'top') {
            border-top: 0;
        }

        @if ($orientation == 'bottom') {
            border-bottom: 0;
        }
    }
}

/**
 * Simple Sassline breakpoint wrapper to allow named breakpoints.
 * @see: $breakpoint-aliases
 */
@mixin deviceBreakpoint($alias: 0) {
    @include breakpoint(map-get($breakpoint-aliases, $alias)) {
        @content;
    };
}

@function deviceBreakpointWidth($alias) {
    $sasslineAlias: map-get($breakpoint-aliases, $alias);
    @return map-get($breakpoints, $sasslineAlias) / 16 * 1rem;
}
