.pagination {
    @include sassline(gamma, $headingtype, 2, 0, all);

    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;


    .pagination__anchor {
        font-family: getFontFamily($headingtype);
        font-weight: bold;

        &:hover {
            color: map-get($palette, red);
            text-decoration: underline;
        }

    }

    @include deviceBreakpoint(tablet) {
        flex-direction: row;
    }
}

.pagination__next {
    @include deviceBreakpoint(tablet) {
        margin-left: auto;
    }
}

.pagination__previous {
    @include deviceBreakpoint(tablet) {
        margin-right: auto;
    }
}
