$portfolio-project-media-width: (
    mobile: 4rem,
    tablet-small: 7rem,
);

.portfolio-strip {
    position: relative;

    .portfolio-strip__show-more {
        display: none;
    }

    .portfolio-project--hidden {
        display: block;
    }

    &--collapsed {
        .portfolio-strip__show-more {
            display: block;
        }
        .portfolio-project--hidden {
            display: none;
        }
    }
}

.portfolio-strip__items {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: 1fr;

    @include deviceBreakpoint(tablet-small) {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 4rem;
    }

}

.portfolio-project {
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #000;

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    @include deviceBreakpoint(tablet-small) {
        padding: 0 2rem;
        margin-bottom: 0;
        border-bottom: none;

        &:nth-child(2n+1) {
            border-right: 1px solid #000;
        }
    }

    .portfolio-project__headline {
        @include sassline(gamma, $headingtype, 2, .5, all, 0);
    }

    .portfolio-project__media {
        float: right;
        max-width: map-get($portfolio-project-media-width, mobile);

        @include deviceBreakpoint(tablet-small) {
            max-width: map-get($portfolio-project-media-width, tablet-small);
        }
    }
}


.portfolio-project-detail {
    @include deviceBreakpoint(tablet) {
        padding-right: map-get($portfolio-project-media-width, tablet-small) + 2rem;
    }

    .portfolio-project-detail__resources {
        @include sassline(eta, $bodytype, 2, 1, all);
    }
}
