$portfolio-project-media-width: (
    mobile: gu(2),
    tablet-small: gu(3),
);

.portfolio-strip {
    position: relative;

    .portfolio-strip__show-more {
        display: none;
    }

    .portfolio-project--hidden {
        display: block;
    }

    &--collapsed {
        .portfolio-strip__show-more {
            display: block;
        }
        .portfolio-project--hidden {
            display: none;
        }
    }
}

.portfolio-strip__items {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: 1fr;

    @include breakpoint(tablet-small up) {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: gu(2);
    }

}

.portfolio-project {
    margin-bottom: gu();
    padding-bottom: gu(2);

    @include baseline-border($orientation: bottom);

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    @include breakpoint(tablet-small up) {
        padding: 0 gu();
        margin-bottom: 0;
        border-bottom: none;

        @include baseline-border-cancel($orientation: bottom);

        &:nth-child(2n+1) {
            border-right: 1px solid #000;
            padding-left: 0;
        }

        &:nth-child(2n+2) {
            padding-right: 0;
        }
    }

    .portfolio-project__headline {
        @include baseline(gamma, $headingtype, $below: 1);
    }

    .portfolio-project__media {
        float: right;
        max-width: map-get($portfolio-project-media-width, mobile);
        margin-top: gu(0.5);
        margin-left: gu();

        @include breakpoint(tablet-small up) {
            max-width: map-get($portfolio-project-media-width, tablet-small);
            margin-top: 0;
            margin-left: gu();
        }
    }

    .portfolio-project__subtitle {
        font-style: italic;

        @include baseline(eta, $bodytype, $below: 1);

        @include breakpoint(tablet up) {
            padding-right: map-get($portfolio-project-media-width, tablet-small) + gu();
        }
    }
}



.portfolio-project-detail {
    @include breakpoint(tablet up) {
        padding-right: map-get($portfolio-project-media-width, tablet-small) + gu();
    }


    .portfolio-project-detail__description {
        @include baseline(eta, $bodytype, $below: 1);
    }
}
