.post-overview__body {
    column-count: 1;

    @include deviceBreakpoint(tablet) {
        column-count: 4;
        column-rule: 1px $border-color solid;
        column-gap: 4rem;
    }
}

.post-overview__post {
    // prevent item being cut in the middle by multicolumn layout
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    @include baselineAwareBorder($orientation: 'bottom', $width: 4px, $offset: -3px, $size: 3rem);

    @include deviceBreakpoint(tablet) {
        @include baselineAwareBorderCancel($orientation: 'bottom');

        &:not(:nth-child(4n+4)) {
            @include baselineAwareBorder($orientation: 'bottom', $width: 4px, $offset: -3px, $size: 3rem);
        }
    }
}

// this has to be scoped so it beats specificity of .typeset
.post-overview .post-overview__post-headline {
    font-family: getFontFamily($headingtype);
    @include sassline(eta, $headingtype, 2, 0, all);

}

.post-overview__pubdate {
    font-style: italic;
}

.post-overview__cta {
    padding-top: 2rem;
}
