/* wrapper necessary to compensate for borders that break the baseline */
.sitenav-wrapper {
    @include baseline(zeta, $bodytype, 2, 4, all);
}

.sitenav {
    position: relative;
    height: 6rem;
    margin-top: 2rem;
    align-items: center;
    font-family: $sansSerif;
    letter-spacing: .1rem;
    font-size: 1.15rem;

    @include deviceBreakpoint(tablet) {
        display: flex;
        // first bottom border
        border-bottom: 2px $border-color solid;

        // top border
        @include baselineAwareBorder($orientation: 'top', $width: 2px);
        // second bottom border
        @include baselineAwareBorder($orientation: 'bottom', $width: 2px, $offset: 2px);
    }
}

// logo image
.sitenav__brand {
    position: absolute;
    left: 50%;
    top: -2.2rem;
    z-index: 2;

    // logo image scales up on bigger screens
    width: 80px;
    margin-left: -40px;

    @include deviceBreakpoint(tablet) {
        width: 130px;
        margin-left: -65px;
    }

    @include deviceBreakpoint(desktop) {
        width: 150px;
        margin-left: -75px;
    }
}

.sitenav__linkset {
    // linkset only shown if menu is toggled on mobile (@see: .sitenav-wrapper--show)
    display: none;
    width: 100%;
    list-style-type: none;
    z-index: 2;

    @include deviceBreakpoint(tablet) {
        display: flex;
    }
}

.sitenav__linkset-item {
    // this link is main and consumes all the available space
    &--main {
        flex: 1;
    }

    // common links get spacing around them
    &:not(--main):not(:last-child) {
        margin-right: 1.5em;

        @include deviceBreakpoint(desktop) {
            margin-right: 2em;
        }
    }

    // active link is highlighted
    &--active .sitenav__link {
        color: map-get($palette, red);
    }
}

.sitenav__link {
    text-transform: lowercase;
    transition: color .2s ease-in-out;

    &:hover {
        color: map-get($palette, red);
    }
}

.sitenav__menu-toggle {
    position: absolute;
    right: 0;
    z-index: 3;

    // hide menu toggle for tablet and bigger
    @include deviceBreakpoint(tablet) {
        display: none;
    }
}

a.sitenav__menu-toggle-link {
    font-family: unquote(map-get($headingtype, font-family));
    transition: color .2s ease-in-out;

    @include sassline(delta, $headingtype, 3, 0, all);

    &--active {
        color: map-get($palette, red);
    }
}

/* if menu is shown, it covers whole screen  with background fill */
.sitenav-wrapper--show {
    @media (max-width: deviceBreakpointWidth(tablet) - 0.00001rem) {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: map-get($palette, white);
        z-index: 1000;

        .sitenav {
            height: 100%;
        }

        .sitenav__linkset {
            display: flex;
            width: 100%;
            height: 100%;
            position: absolute;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 6rem 3rem 5rem;

            @media (min-height: 360px) {
                flex-direction: column;
            }
        }

        .sitenav__linkset-item {
            margin-right: 0 !important;
            padding-left: .5em;
            padding-right: .5em;

            @include sassline(gamma, $bodytype, 2, 2, all);

            &.sitenav__linkset-item--main {
                display: none;
            }
        }
    }
}
