$sitenav-height-mobile: 100vh;
$sitenav-body-height: 5rem;
$sitenav-slide-transition: cubic-bezier(0.17, 0.04, 0.03, 0.94);

.sitenav {
    position: relative;
    height: $sitenav-body-height;
    margin-bottom: 3rem;
    align-items: center;

    @include deviceBreakpoint(tablet) {
        display: flex;
        // first bottom border
        // border-bottom: 2px $border-color solid;
        margin-top: 3rem;
        margin-bottom: 4rem;

        // // top border
        // @include baselineAwareBorder($orientation: 'top', $width: 2px);
        // second bottom border
        @include baselineAwareBorder($orientation: 'bottom', $width: 3px, $offset: 38px);
    }
}

// logo image
.sitenav__brand {
    @mixin snBrandSize($height) {
        $brand-dimension-ratio: 153 / 196;

        height: $height;
        // use image dimension ratio to calculate right shift
        margin-left: $height * -0.5 * $brand-dimension-ratio;
    }

    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 5rem;
    z-index: 3;

    // logo image scales up on bigger screens
    @include deviceBreakpoint(tablet) {
        background: map-get($palette, white);
        padding: .5em;
        top: -2rem;
        left: 50%;

        @include snBrandSize(9rem);
    }

    @include deviceBreakpoint(desktop) {
        @include snBrandSize(10rem);
    }
}

.sitenav__linkset {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    z-index: 2;
    width: 100%;
    min-height: 100vh;

    // linkset only shown if menu is toggled on mobile (@see: .sitenav-wrapper--show)
    padding: 4rem 7rem 2rem;
    transform: translateY(-100%);
    transition: transform .3s $sitenav-slide-transition;
    background: map-get($palette, red);
    box-shadow: inset 0 -0.3rem 2rem rgba(0, 0, 0, .3);

    @include deviceBreakpoint(tablet) {
        flex-direction: row;
        padding: 0;
        height: auto;
        transform: translateY(0);
        transition: none;
        background: none;
        box-shadow: none;
    }
}

/* .sitenav__linkset-item styles */
.sitenav__linkset-item {
    font-family: getFontFamily($sansseriftype);
    font-weight: map-get($sansseriftype, semi);
    letter-spacing: .1rem;

    width: 12em;
    font-size: 1.15rem;
    padding: 1rem 0;
    text-align: center;

    &:not(:first-child) {
        @include baselineAwareBorder(rgba(0, 0, 0, .3));
    }

    @include deviceBreakpoint(tablet) {
        width: auto;
        margin: 0;
        text-align: left;

        &:not(:first-child) {
            @include baselineAwareBorderCancel();
        }

        // this link is main and consumes all the available space
        &--main {
            flex: 1;
        }

        // common links get spacing around them
        &:not(&--main):not(:last-child) {
            margin-right: .5em;

            @media (min-width: 1100px) {
                margin-right: 2em;
            }
        }
    }
}

/* .sitenav__link styles */
.sitenav__link {
    text-transform: lowercase;

    @include deviceBreakpoint(tablet) {
        padding: 0 .5em;
        transition: color .2s ease-in-out;
        background: map-get($palette, white);
    }

    @include deviceBreakpoint(desktop) {
        padding: 0 .75em;
    }
}

.sitenav__linkset-item {
    .sitenav__link {
        color: map-get($palette, white);
    }

    // active link is highlighted
    &--active .sitenav__link {
        color: map-get($palette, black);
    }

    @include deviceBreakpoint(tablet) {
        .sitenav__link:not(&--main) {
            color: map-get($palette, black);

            &:hover {
                color: map-get($palette, red);
            }
        }

        &:not(&--main):first-child .sitenav__link {
            padding-left: 0;
        }

        &:last-child .sitenav__link {
            padding-right: 0;
            float: right;
        }

        // active link is highlighted
        &--active .sitenav__link {
            color: map-get($palette, red);
        }

        &--main .sitenav__link {
            padding: 0 .75em;
            display: inline-block;
            height: 2rem;
            color: map-get($palette, white);
            background-color: map-get($palette, red);

            &:hover {
                color: map-get($palette, white);
            }

        }
    }
}

.sitenav__menu-toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 3;

    @include sassline(delta, $headingtype, 3, 0, all);

    // hide menu toggle for tablet and bigger
    @include deviceBreakpoint(tablet) {
        display: none;
    }
}

a.sitenav__menu-toggle-link {
    font-family: getFontFamily($headingtype);
    transition: color .2s ease-in-out;

    &--active {
        color: map-get($palette, red);
    }
}

.sitenav-wrapper {
    transition: padding-bottom .3s $sitenav-slide-transition;
    padding-bottom: 0;
}

/* if menu is shown, it covers whole screen  with background fill */
.sitenav-wrapper--show {
    @media (max-width: deviceBreakpointWidth(tablet) - 0.00001rem) {
        padding-bottom: calc(#{$sitenav-height-mobile}  - #{$sitenav-body-height});

        .sitenav__linkset {
            transform: translateY(0);
        }

        .sitenav__menu-toggle-link {
            color: map-get($palette, white);
        }
    }
}
