.splitting-headline {
    position: relative;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        top: 2rem;
        left: 0;
        height: 3px;
        background: $hr-color;
        z-index: -1;
    }
}

.splitting-headline__fill {
    background: map-get($palette, white);
    padding: 1rem;
}
