@mixin memberProfileVariant($icon, $main) {
    font-family: 'fragariacz-icons';

    &:before {
        content: $icon;
    }

    &:hover:before {
        color: $main;
    }
}

.team-members {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10rem, auto);
    grid-row-gap: 4rem;

    @media (min-width: 20rem) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(10rem, auto);
        grid-gap: 2rem;
    }

    @include deviceBreakpoint(mobile) {
        grid-gap: 4rem;
    }

    @include deviceBreakpoint(tablet-small) {
        grid-template-columns: repeat(4, 1fr);
    }

    /* 5 columns on a row for desktop and up */
    @include deviceBreakpoint(tablet) {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 4rem;
    }
}

.team-member__avatar {
    text-align: center;
}

.team-member__avatar-image {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 8rem;
}

.team-member__body {
    text-align: center;

    .team-member__name {
        @include sassline(epsilon, $seriftype, 2, 2, all);
    }

    .team-member__alt.caption {
        @include sassline(theta, $seriftype, 1.5, 1, all);
    }
}

.team-member__profiles {
    display: block;
    height: 2rem;
}

.team-member__profile {
    @each $variantName, $variantSettings in $brands {
        &--#{$variantName} {
            @include memberProfileVariant(
                map-get($variantSettings, icon),
                map-get($variantSettings, main)
            );
        }
    }

    & + .team-member__profile {
        margin-left: .25em;
    }
}

.team-member__profile-body {
    display: none
}


// special section that has emphasized background
.career-teaser {
    margin-right: auto;
    margin-left: auto;

    padding: 3rem;

    background-color: map-get($palette, red);
    color: map-get($palette, white);

    &.career-teaser--short {
        max-width: 60rem;
    }
}

// align 'contact us' button
.career-teaser__contactbutton {
    margin-top: 2rem;

    .button:hover {
        background-color: map-get($palette, white);
        color: map-get($palette, red);
    }
}

