@mixin memberProfileVariant($icon) {
    font-family: 'fragariacz-icons';

    &:before {
        transition: #{$anchor-hover-transition};
        content: $icon;
    }

    &:hover:before {
        color: map-get($palette, red);
    }
}

.team-members {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(gu(5), auto);
    grid-row-gap: gu(2);

    @media (min-width: gu(10)) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(gu(5), auto);
        grid-gap: gu();
    }

    @include breakpoint(mobile up) {
        grid-gap: gu(2);
    }

    @include breakpoint(tablet-small up) {
        grid-template-columns: repeat(4, 1fr);
    }

    /* 5 columns on a row for desktop and up */
    @include breakpoint(tablet up) {
        max-width: gu(35);
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: gu(2);
    }
}

.team-member__avatar {
    text-align: center;
}

.team-member__avatar-image {
    display: block;
    margin: auto;
    width: gu(3.75);
}

.team-member__body {
    margin-top: gu(0.25);
    text-align: center;

    .team-member__name {
        @include baseline(epsilon, $headingtype);
    }

    .team-member__alt {
        @include baseline(eta, $bodytype);
    }
}

.team-member__profiles {
    display: flex;
    height: gu(2);
    align-items: center;
    justify-content: center;
}

.team-member__profile {
    @each $variantName, $variantSettings in $brands {
        &--#{$variantName} {
            @include memberProfileVariant(map-get($variantSettings, icon));
        }
    }

    & + .team-member__profile {
        margin-left: .5em;
    }
}

.team-member__profile-body {
    display: none;
}




