// Typography
// ---------------------------------------
// Setting root sizes and base styles.
html {
    @include rootsize;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

audio,
video {
    width: 100%;
}

// Site-wide base styles.
body {
    @include fontsize(eta, all);
    font-family: getFontFamily($bodytype);
    font-style: normal;
    font-weight: map-get($bodytype, regular);
    line-height: 2rem;
    color: $text-color;
    background: $body-background;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

// Links.
a {
    color: $anchor-color;
    text-decoration: none;

    &:not(&.nohover) {
        transition: #{$anchor-hover-transition};

        &:hover,
        &:active,
        &:focus {
            color: $anchor-hover-color;
        }
    }
}

// Text selection
::selection {
    background: $selection-color;
    color: map-get($palette, white);
    text-shadow: none;
}

// Styles for typeset text.
.typeset {

    // Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
    p {
        @include baseline(
            $fontsize: zeta,
            $font: $bodytype,
            $lineheight: 2,
            $below: 1,
            $breakpoint: all
        );
        font-feature-settings: "kern", "onum", "liga";
    }

    p + .figure {
        padding-top: 2rem;
    }

    // Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: getFontFamily($headingtype);
        font-feature-settings: "dlig", "liga", "lnum", "kern";
        font-style: normal;
        font-weight: map-get($headingtype, bold);
    }

    // Heading level 1.
    h1,
    .alpha {
        @include sassline(
            $fontsize: gamma,
            $font: $headingtype,
            $lineheight: 3,
            $below: 0,
            $breakpoint: all
        );
    }

    // Heading level 2.
    h2,
    .beta {
        @include sassline(delta, $headingtype, 3, 0, all);
    }

    // Heading level 3.
    h3,
    .gamma {
        @include sassline(epsilon, $headingtype, 3, 0, all);
    }

    // Heading level 4.
    h4,
    .delta {
        @include sassline(zeta, $headingtype, 2, 0, all);
    }

    // Heading level 5.
    h5,
    .epsilon {
        @include sassline(eta, $headingtype, 2, 0, all);
    }

    // Heading level 6.
    h6,
    .zeta {
        @include sassline(theta, $headingtype, 2, 0, all);
    }

    // Lists.
    ul,
    ol {
        @include baseline(eta, $bodytype, 2, 2, all);
        li {
            font-feature-settings: "kern", "onum", "liga";
            margin-left: 2rem;

            @include breakpoint(break-1) {
                margin-left: 0;
            }
            ol,
            ul {
                margin-bottom: 0;
                margin-left: 2rem;
                padding-top: 0;
            }
        }
    }

    // Ordered lists.
    ol {
        list-style-type: none;
        li {
            counter-increment: top-level;
            &:before {
                content: counter(top-level) ".";
                font-feature-settings: "lnum", "tnum";
                margin-left: -3rem;
                position: absolute;
                text-align: right;
                width: 2em;
            }
            ul {
                li {
                    &:before {
                        content: "";
                    }
                    ol {
                        li {
                            counter-increment: alt-level;
                            &:before {
                                content: counter(alt-level) ".";
                            }
                        }
                    }
                }
            }
            ol {
                li {
                    counter-increment: sub-level;
                    &:before {
                        content: counter(top-level) "." counter(sub-level);
                    }
                    ul {
                        li {
                            &:before {
                                content: "";
                            }
                        }
                    }
                    ol {
                        li {
                            counter-increment: sub-sub-level;
                            &:before {
                                content: counter(top-level) "."
                                    counter(sub-level) "."
                                    counter(sub-sub-level);
                            }
                        }
                    }
                }
            }
        }
    }

    // Definition lists.
    dl {
        @include baseline(zeta, $bodytype, 2, 2, all);
        dt,
        dd {
            font-feature-settings: "kern", "onum", "liga";
            margin-left: 2rem;
            @include breakpoint(break-1) {
                margin-left: 0;
            }
        }
        dt {
            font-weight: map-get($bodytype, bold);
        }
        dd + dt {
            padding-top: 1rem;
        }
    }

    // Tables.
    table:not(.rouge-table) {
        @include sassline(eta, $bodytype, 2, 2, all);
        font-feature-settings: "liga", "lnum", "tnum", "kern";
        font-style: normal;
        width: 100%;
        thead {
            th {
                font-family: getFontFamily($bodytype);
                font-weight: map-get($bodytype, bold);
                @include sassline(eta, $bodytype, 2, 0, all);
                padding-bottom: 1px;
            }
        }
        tbody {
            td {
                font-family: getFontFamily($bodytype);
                @include sassline(eta, $bodytype, 2, 0, all);
            }
        }
    }

    // Bold.
    b,
    strong,
    .bold {
        font-weight: map-get($bodytype, bold);
    }

    // Italic.
    em,
    i,
    .italic {
        font-style: map-get($bodytype, italic);
    }

    // Caption and inline small text.
    small,
    .caption {
        @include fontsize(theta, all);
        font-family: getFontFamily($headingtype);
        font-style: normal;
        font-weight: map-get($headingtype, semi);
    }

    small {
        line-height: 1rem;
    }

    .caption {
        @include baseline(theta, $headingtype, 2, 2, all);
        color: $caption-color;
        &--nopad {
            @include baseline(theta, $headingtype, 2, 0, all);
        }
    }

    // Nice spacing for captions.
    h1 + .caption,
    .alpha + .caption,
    h2 + .caption,
    .beta + .caption,
    h3 + .caption,
    .gamma + .caption {
        margin-top: -1.5rem;
    }

    .delta + .caption,
    .epsilon + .caption,
    .zeta + .caption {
        margin-top: 0rem;
    }

    // Quotes.
    blockquote {
        border-left: .15rem solid $border-color;

        p {
            font-style: map-get($bodytype, italic);
            padding-left: 1rem;

        }

        /**
         * We need to ensure, whole `p` gets contained in the blockquote (including
         * the bottom margin). This is beacuse otherwise, `border-left` would
         * be incomplete, not filling whole space of the blockquote.
         */
        &:after {
            content: ' ';
            clear: both;
            display: block;
            // A little nasty trick to ensure p is contained. We include a small,
            // invisible content that results in margin being contained within
            // the blockquote.
            border-bottom: 1px transparent solid;
            // Compensation for the 1px shift of the above border.
            margin-bottom: -1px;
        }

        @include breakpoint(break-1) {
            margin-left: -1rem;
        }
    }

    blockquote + .figure {
        padding-top: 1rem;
    }

    // Horizontal rule.
    hr {
        width: 100%;
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 50%,
            $hr-color 50%
        );
        background-position: 0 50%;
        background-repeat: repeat-x;
        background-size: 100% 0.15rem;
        border: 0;
        margin: 0;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    // Code blocks

    // Inline code
    code.highlighter-rouge {
        font-family: getFontFamily($monospacetype);
        background-color: $code-inline-background-color;
        font-size: 1rem;
        word-break: break-word;
        padding: 0 0.2em;
    }

    // Code block
    figure.highlight {
        margin-bottom: 1rem;
        background-color: $code-block-background-color;
        overflow-x: scroll;
        line-height: 1rem;
        font-family: getFontFamily($monospacetype);

        code {
            @include fontsize(iota, all);
            @include codeHighlight();
            display: inline-block;
            padding: 1rem;
        }

        // Line numbers
        .lineno {
            color: map-get($palette, gray-medium);
            margin-right: 1rem;
        }
    }

    // Letter space those capitals people, Jan Tschichold would be proud.
    .upper {
        font-kerning: normal;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
    }

    // Real small caps.
    .small-caps {
        font-feature-settings: "smcp", "kern";
        font-kerning: normal;
        letter-spacing: 0.1rem;
    }

    // Consistent height numbers with OpenType.
    .lining-numerals {
        font-feature-settings: "lnum", "kern";
    }

    // Ascending and descending numbers with OpenType.
    .oldstyle-numerals {
        font-feature-settings: "onum", "kern";
    }
}

.hero {
    text-align: center;
    padding-bottom: 4rem;
    padding: 6rem 0 10rem;

    @include deviceBreakpoint(tablet) {
        padding: 8rem 0 12rem;
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .hero-headline,
    .hero-paginator {
        @include sassline(beta, $headingtype, 3, 0, all);

        @include deviceBreakpoint(tablet-small) {
            @include sassline(beta, $headingtype, 5, 0, all);
        }
    }

    .hero-headline {
        max-width: 40em;
        margin: 0 auto;

        i {
            font-style: normal;
            color: map-get($palette, red);
        }

    }

    .hero-paginator {
        font-weight: bold;
        font-size: 500%;

        &:hover {
            color: map-get($palette, red);
            text-decoration: underline;
        }
    }
}
