.hidden {
    display: none;
}

.typeset .typeset__anchor--nounderline,
.typeset .typeset__anchor--nounderline:hover {
    background-image: none;
}

.text-center {
    text-align: center;
}

.u-margin--top2 {
    margin-top: 2rem;
}

.u-margin--bottom2 {
    margin-bottom: 2rem;
}
