.v-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background:
        linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)),
        url('#{$base-url}assets/img/strawberry.svg') center;
        padding: 1rem;
}

.v-404 .v-404__inner {
    h1 {
        @include sassline(beta, $headingtype, $lineheight: 4, $below: 2, $breakpoint: all);

        @include deviceBreakpoint(mobile) {
            @include sassline(beta, $headingtype, $lineheight: 4, $below: 2, $breakpoint: 1);
        }
    }
}
