$article-content-width: 40rem;

.article {
    padding-top: 2rem;
    text-align: center;

    @include breakpoint(tablet up) {
        padding-top: 5rem;
    }

    .article__headline {
        max-width: 13em;
        margin-left: auto;
        margin-right: auto;
        font-family: getFontFamily($headingtype);

        @include baseline(alpha, $headingtype, $lineheight: 3, $breakpoint: tablet-small down, $below: 2);
        @include baseline(alpha, $headingtype, $lineheight: 6, $breakpoint: tablet up, $below: 2);
    }
}

.article__meta {
    font-style: italic;
    padding-bottom: 2rem;
}

.article__pubdate,
.article__author {
    display: block;
}

.article__pubdate {
    font-weight: bold;
}

.article__content,
.article__misc {
    margin-left: auto;
    margin-right: auto;
    max-width: $article-content-width;
}

.article__content {
    text-align: left;
    // Will try to add word-breaking hypens according to post language (which defaults to EN).
    hyphens: auto;

    // &:first-letter {
    //     float: left;
    //     padding-top: .5rem;
    //     padding-right: 1rem;
    //     font-size: 6.8rem;
    //     line-height: 5rem;
    // }

    a {
        // default anchor style
        @include anchorStyle(true);
    }

    h1, h2, h3 {
        font-family: getFontFamily($headingtype);
    }

    h1 {
        @include baseline(gamma, $headingtype, $lineheight: 3, $breakpoint: tablet-small down);
        @include baseline(gamma, $headingtype, $lineheight: 3, $below: 1, $breakpoint: tablet up);
    }

    h2 {
        @include baseline(delta, $headingtype, $lineheight: 2, $below: 1, $above: 2, $breakpoint: tablet-small down, $anchor: true);
        @include baseline(delta, $headingtype, $lineheight: 3, $below: 1, $above: 1, $breakpoint: tablet up, $anchor: true);
    }

    h3 {
        @include baseline(epsilon, $headingtype, $lineheight: 3, $below: 1, $breakpoint: tablet-small down);
        @include baseline(epsilon, $headingtype, $lineheight: 2, $below: 1, $above: 2, $breakpoint: tablet up);
    }

    // basic image
    .figure:not(.highlight) {
        text-align: center;
        padding-bottom: 2rem;

        &.figure--wide {
            @include breakpoint(desktop up) {
                margin-left: -15rem;
                margin-right: -15rem;
            }
        }
    }

    .figure__image {
        // images without display: block get unspecified margin added by browsers
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .figure__caption {
        @include baseline(theta, $bodytype, $lineheight: 2);
    }

    .inline-figure-container {
        display: flex;
        justify-content: space-around;

        > figure {
            + figure {
                margin-left: 1rem;
            }

            img {
                max-height: 14rem;
            }
        }
    }
}

.article__misc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding-top: 4rem;

    .article__miscitem + .article__miscitem {
        margin-top: 1rem;
        margin-left: 0;
    }

    @include breakpoint(tablet up) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .article__miscitem + .article__miscitem {
            margin-top: 0;
            margin-left: 3rem;
        }
    }
}
