.article {
    padding-top: gu();
    text-align: center;

    @include breakpoint(tablet up) {
        padding-top: gu(3);
    }

    .article__headline {
        max-width: 13em;
        margin-left: auto;
        margin-right: auto;
        font-family: getFontFamily($headingtype);

        @include baseline(alpha, $headingtype, $lineheight: 2, $breakpoint: mobile down, $below: 2);
        @include baseline(alpha, $headingtype, $lineheight: 2.8, $breakpoint: tablet-small up, $below: 2);
    }
}

.article__meta {
    font-style: italic;
    padding-bottom: gu();
}

.article__pubdate,
.article__author {
    display: block;
}

.article__pubdate {
    font-weight: bold;
}

.article__content,
.article__misc {
    @include narrow-content;
}

.article__misc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: gu(2);
    padding-top: gu(2);

    .article__miscitem + .article__miscitem {
        margin-top: 0;
        margin-left: 0;
    }

    @include breakpoint(tablet up) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .article__miscitem + .article__miscitem {
            margin-top: 0;
            margin-left: gu(2);
        }
    }
}
