.article {
    padding-top: 2rem;
    text-align: center;

    @include breakpoint(tablet up) {
        padding-top: 5rem;
    }

    .article__headline {
        max-width: 13em;
        margin-left: auto;
        margin-right: auto;
        font-family: getFontFamily($headingtype);

        @include baseline(alpha, $headingtype, $lineheight: 3, $breakpoint: tablet-small down, $below: 2);
        @include baseline(alpha, $headingtype, $lineheight: 6, $breakpoint: tablet up, $below: 2);
    }
}

.article__meta {
    font-style: italic;
    padding-bottom: 2rem;
}

.article__pubdate,
.article__author {
    display: block;
}

.article__pubdate {
    font-weight: bold;
}

.article__content,
.article__misc {
    @include narrow-content;
}

.article__misc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding-top: 4rem;

    .article__miscitem + .article__miscitem {
        margin-top: 1rem;
        margin-left: 0;
    }

    @include breakpoint(tablet up) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .article__miscitem + .article__miscitem {
            margin-top: 0;
            margin-left: 3rem;
        }
    }
}
