$article-content-width: 40rem;

.article {
    padding-top: 2rem;
    text-align: center;

    @include deviceBreakpoint(tablet) {
        padding-top: 5rem;
    }

    .article__headline {
        max-width: 13em;
        margin-left: auto;
        margin-right: auto;
        font-family: getFontFamily($seriftype);
        font-weight: 400;

        @include sassline(alpha, $seriftype, $lineheight: 3, $breakpoint: all);

        @include deviceBreakpoint(tablet) {
            @include sassline(alpha, $seriftype, $lineheight: 6, $breakpoint: all);
        }
    }
}

.article__meta {
    font-style: italic;
    padding-bottom: 2rem;
}

.article__pubdate,
.article__author {
    display: block;
}

.article__pubdate {
    font-weight: bold;
}

.article__content,
.article__misc {
    margin-left: auto;
    margin-right: auto;
    max-width: $article-content-width;
}

.article__content {
    text-align: left;
    // Will try to add word-breaking hypens according to post language (which defaults to EN).
    hyphens: auto;

    a {
        // default anchor style
        @include anchorStyle(true);
    }

    h1, h2, h3 {
        font-family: getFontFamily($seriftype);
        font-weight: 400;
    }

    h1 {
        @include sassline(gamma, $seriftype, $lineheight: 3, $below: 0, $breakpoint: all);

        @include deviceBreakpoint(tablet) {
           @include sassline(gamma, $seriftype, $lineheight: 3, $below: 1, $breakpoint: all);
        }
    }

    h2 {
        @include sassline(delta, $seriftype, $lineheight: 2, $below: 0, $breakpoint: all);

        @include deviceBreakpoint(tablet) {
            @include sassline(delta, $seriftype, $lineheight: 3, $below: 1, $breakpoint: all);
        }
    }

    h3 {
        @include sassline(epsilon, $seriftype, $lineheight: 3, $below: 0, $breakpoint: all);

        @include deviceBreakpoint(tablet) {
            @include sassline(epsilon, $seriftype, $lineheight: 2, $below: 1, $breakpoint: all);
        }
    }

    p {
        @include sassline(zeta, $seriftype, $lineheight: 2, $below: 1, $breakpoint: all);

        // + h2,
        // + h3 {
        //     margin-top: 2rem;
        // }
    }

    // basic image
    .figure:not(.highlight) {
        text-align: center;
        padding-bottom: 2rem;

        &.figure--wide {
            @include deviceBreakpoint(desktop) {
                margin-left: -15rem;
                margin-right: -15rem;
            }
        }
    }

    .figure__image {
        // images without display: block get unspecified margin added by browsers
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .figure__caption {
        font-weight: bold;
        @include sassline(theta, $bodytype, $lineheight: 2, $below: 0, $breakpoint: all);
    }

    .inline-figure-container {
        display: flex;
        justify-content: space-around;

        > figure {
            + figure {
                margin-left: 1rem;
            }

            img {
                max-height: 14rem;
            }
        }
    }
}

.article__misc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding-top: 4rem;

    .article__miscitem + .article__miscitem {
        margin-top: 1rem;
        margin-left: 0;
    }

    @include deviceBreakpoint(tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .article__miscitem + .article__miscitem {
            margin-top: 0;
            margin-left: 3rem;
        }
    }
}
