.v-blog-archive {
    display: grid;
    grid-template-areas:
        "nav"
        "main";

    @include breakpoint(break-2) {
        grid-template-areas: "main nav";
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 4rem;
    }
}

.v-blog-archive__main {
    grid-area: main;
}

.v-blog-archive__nav {
    grid-area: nav;
}
