.v-blog-archive {
    display: grid;
    grid-template-areas:
        "main"
        "breakdown";
    grid-row-gap: 4rem;
}

.v-blog-archive__main {
    grid-area: main;
}

.v-blog-archive__breakdown {
    grid-area: breakdown;
}

.v-blog-archive-nav {
    display: none;

    @include breakpoint(desktop up) {
        display: grid;
        grid-column-gap: 4rem;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "yearlist topiclist";
    }
}

.v-blog-archive-nav__yearlist {
    grid-area: yearlist;
}

.v-blog-archive-nav__topiclist {
    grid-area: topiclist;

    .topic-list {
        column-count: 4;
    }
}
