.v-blog-home {
    display: grid;
    // other articles hidden on mobile devices
    grid-template-areas:
        "main"
        "featured"
        "latest"
        "other";
    grid-column-gap: 4rem;

    @include deviceBreakpoint(tablet) {
        grid-template-areas:
            "main"
            "latest"
            "featured"
            "other";

        // space out individual home sections
        .v-blog-home__section--tablet-padbottom {
            padding-bottom: 2rem;
        }

        .v-blog-home__section--tablet-padtop {
            padding-top: 2rem;
        }

        // divider between sections
        .v-blog-home__section:not(.v-blog-home__section--nodivider) + .v-blog-home__section {
            @include baselineAwareBorder($width:2px, $orientation: 'top');

            img {
                min-height: 400px;
            }

        }
    }
}

.v-blog-home__main {
    grid-area: main;
}

.v-blog-home__featured {
    grid-area: featured;
}

.v-blog-home__posts {
    &--latest {
        grid-area: latest;
    }

    &--other {
        grid-area: other;
    }
}
