$full-view-break: 1000px;

.v-career .hero {
    padding-bottom: 2rem
}

.v-career-section .v-career-section--content {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    p {
        @include sassline(zeta, $bodytype, $lineheight: 2);
    }
}

// spacing of individual section blocks
.v-career-section + .v-career-section {
    margin-top: 4rem;
}

.v-career-section {
    // section headline
    .v-career-section__headline {
        text-align: center;

        i {
            font-style: normal;
            color: map-get($palette, red);
        }

        @include sassline(beta, $headingtype, $lineheight: 3);
        @include sassline(beta, $headingtype, $lineheight: 4, $breakpoint: tablet);
    }
}

// grid for facts about the company
.v-career-facts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0 3rem;

    padding-top: 4rem;
}

.v-career-facts-grid__item {
    text-align: center;
}

.v-career-facts-grid .v-career-facts-grid__title {
    @include sassline(zeta, $headingtype, $lineheight: 2, $below: 0, $breakpoint: all);
}

.v-career-facts-grid .v-career-facts-grid__icon {
    margin-top: 1rem;
    font-size: 3rem;

    &:before {
        color: map-get($palette, red) !important;
    }
}




// grid for technologies used in the company
.v-career-tech-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3rem 2rem;

    padding-top: 3rem;
    margin-bottom: 6rem;
}

.v-career-tech-grid__item {
    text-align: center;
}

.v-career-tech-grid__image {
    display: block;
    height: 4rem;
    width: 4rem;
    margin: auto;
}

.v-career-tech-grid .v-career-tech-grid__title {
    @include sassline(zeta, $headingtype, $lineheight: 2, $below: 0, $breakpoint: all);
}
