.v-home .hero {
    text-align: center;
    padding: gu(1) 0 gu(2);

    @include breakpoint(tablet-small up) {
        padding: gu(3) 0 gu(5);
    }

    @include breakpoint(tablet up) {
        padding: gu(4) 0 gu(6);
    }

    .hero__headline {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        @include baseline(alpha, $headingtype, $lineheight: 2, $breakpoint: mobile down);
        @include baseline(alpha, $headingtype, $lineheight: 3, $breakpoint: tablet-small up);

        i {
            font-style: normal;
            color: map-get($palette, red);
        }
    }
}

.v-home__portfolio {
    margin-bottom: gu(3);

    @include breakpoint(tablet up) {
        margin-bottom: gu();
    }
}

.v-home__blog,
.v-home__team,
.v-home__company,
.v-home__career {
    margin-top: gu(2);

    @include breakpoint(tablet up) {
        margin-top: gu(5);
    }
}

.v-home__company-content {
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: gu() 0;
    grid-template-areas:
        "about"
        "residence"
        "billing"
        "contactform";

    @include breakpoint(mobile up) {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: gu() gu();
        grid-template-areas:
            "about         about"
            "residence     billing"
            "contactform   contactform"
        ;
    }

    @media (min-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: minmax(gu(6), auto);
        grid-gap: 0 gu(2);
        grid-template-areas:
            "about     about   contactform contactform"
            "residence billing contactform contactform"
        ;
    }

}

.v-home .v-home__career-content {
    @include narrow-content;
}

.v-home .v-home__career-par {
    @include baseline(eta, $bodytype, $below: 1);
}

.v-home__company-about       { grid-area: about; }
.v-home__company-residence   { grid-area: residence; }
.v-home__company-billing     { grid-area: billing; }
.v-home__company-contactform { grid-area: contactform; }

.v-home__company-contactform {
    padding-top: gu();
    margin-top: gu();

    @include breakpoint(mobile down) {
        @include baseline-border($orientation: 'top');
    }

    @include breakpoint(tablet up) {
        border-top: 0;
        padding: 0;
        margin: 0;
    }
}



