.v-home__hero {
    text-align: center;
    padding-bottom: 4rem;

    @include deviceBreakpoint(desktop) {
        padding: 8rem 0 12rem;
    }
}

.v-home__hero .v-home__hero-headline {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include sassline(delta, $headingtype, 2, 0, all);

    @include deviceBreakpoint(mobile) {
        @include sassline(delta, $headingtype, 3, 0, all);
    }

    @include deviceBreakpoint(tablet) {
        @include sassline(beta, $headingtype, 5, 0, all);
    }

    i {
        font-style: normal;
        color: map-get($palette, red);
    }
}

.v-home__portfolio {
    margin-bottom: 2rem;
}

.v-home__team,
.v-home__company {
    margin-top: 4rem;

    @include deviceBreakpoint(desktop) {
        margin-top: 10rem;
    }
}

.v-home__blog {
    margin-top: 4rem;

    @include deviceBreakpoint(tablet) {
        margin-top: 10rem;
    }
}

.v-home__company-content {
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1rem 0;
    grid-template-areas:
        "phone"
        "email"
        "map"
        "residence"
        "billing"
        "contactform";

    @include deviceBreakpoint(tablet) {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 1rem 1rem;
        grid-template-areas:
            "phone       email    map"
            "residence  billing none"
            "contactform contactform contactform"
        ;
    }

    @media (min-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 2rem 4rem;
        grid-template-areas:
            "phone     email   map         .          "
            "residence billing contactform contactform"
        ;
    }

}

.v-home__company-phone       { grid-area: phone; }
.v-home__company-email       { grid-area: email; }
.v-home__company-map         { grid-area: map; }
.v-home__company-residence   { grid-area: residence; }
.v-home__company-billing     { grid-area: billing; }
.v-home__company-contactform { grid-area: contactform; }

.v-home__company-contactform {
    border-top: 1px $border-color solid;
    padding-top: 1rem;
    margin-top: 1rem;

    @include deviceBreakpoint(tablet) {
        border-top: 0;
        padding: 0;
        margin: 0;
    }
}
