.v-home__hero {
    text-align: center;
    padding-bottom: 4rem;

    @include deviceBreakpoint(desktop) {
        padding: 8rem 0 12rem;
    }
}

.v-home__hero .v-home__hero-headline {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include sassline(delta, $headingtype, 2, 0, all);

    @include deviceBreakpoint(mobile) {
        @include sassline(delta, $headingtype, 3, 0, all);
    }

    @include deviceBreakpoint(tablet) {
        @include sassline(beta, $headingtype, 5, 0, all);
    }

    i {
        color: map-get($palette, red);
    }
}

.v-home__portfolio {
    margin-bottom: 2rem;
}

.v-home__team,
.v-home__company {
    @include deviceBreakpoint(desktop) {
        margin-top: 8rem;
    }
}
